flows_boxenergie.json
[{"id":"7f51c6b8.4c9d28","type":"tab","label":"BOXENERGIE_TEST","disabled":false,"info":"FLOW Avril 2020\nConnecté au LINKY et à 2 compteurs IMPULSION (prod, conso)\nLe 2e compteur à impulsion pallie l'absence de remontée de l'index d'injection par LINKY\n\nOpenweatherMap API key : 7997e8bbdce33a3a717b14e9da5f0dce"},{"id":"40c1eba5.fc9be4","type":"function","z":"7f51c6b8.4c9d28","name":"Informations TIC","func":"// Decodage trames LINKY mode STANDARD - www.sunshare.fr\n// Objectif script NodeRed\n\n// fichier décrivant la TIC Enedis-NOI-CPT_54E\n// ADSC 12 // DATE 13 // LTARF 16 // EAST 9 Wh // EAIT 9 Wh \n// URMS1 3 V //PREF 2 kVA // SINSTS 5 VA // PRM 14\n\n//passage de la trame en variable\nvar trame_tic=msg.payload;\nvar SnSrIdxObj = flow.get('SnSrIdxObj');//20200127 - RED.util.cloneMessage(flow.get('SnSrIdxObj'));\n//var SnSrObj = {};\n\nvar msg0 = {}; msg1 = {}; msg2 = {}; msg3 = {}; msg4 = {}; msg5 = {};\n\n//recherche des chaines, passage en nombres\nvar tADSC=\"ADSC\"\nvar lADSC=trame_tic.indexOf(\"ADSC\")+tADSC.length+1;\nvar ADSC=trame_tic.substring(lADSC,lADSC+12);\nvar tDATE=\"DATE\"\nvar lDATE=trame_tic.indexOf(\"DATE\")+tDATE.length+1;\nvar DATE_label=trame_tic.substring(lDATE,lDATE+1);\nvar DATE=\"20\"+trame_tic.substring(lDATE+1,lDATE+13);\nvar tLTARF=\"LTARF\"\nvar lLTARF=trame_tic.indexOf(\"LTARF\")+tLTARF.length+1;\nvar LTARF=trame_tic.substring(lLTARF,lLTARF+16);\n\nif (LTARF.indexOf(\"BAS\",0)>0) { LTARF='BASE'; } //BASE chez EDF, ENERCOOP....diffère selon chaque fournisseur\n        else if (LTARF.indexOf(\"HC.\",0)>0) {LTARF='HC/HP'; } //HC.. HP/HC chef EDF\n        else if (LTARF.indexOf(\"EJP\",0)>0) {LTARF='EJP'; } //EJP chez EDF\n        else if (LTARF.indexOf(\"BBR\",0)>0) {LTARF='HC/HP'; } //TEMPO chez EDF\n        else {LTARF='INCONNU'; } //\n    \nvar tEAST=\"EAST\"\nvar lEAST=trame_tic.indexOf(\"EAST\")+tEAST.length+1;\nvar EAST=trame_tic.substring(lEAST,lEAST+9);\nvar nEAST=parseInt(EAST);\n\nvar tEAIT=\"EAIT\"\nvar EAIT=\"NO INJECT\"\nif (trame_tic.indexOf(\"EAIT\",0)>0) \n\t{var lEAIT=trame_tic.indexOf(\"EAIT\")+tEAIT.length+1;\n\tEAIT=trame_tic.substring(lEAIT,lEAIT+9);\n\t} \nvar nEAIT=parseInt(EAIT);\n\nvar tURMS1=\"URMS1\"\nvar lURMS1=trame_tic.indexOf(\"URMS1\")+tURMS1.length+1;\nvar URMS1=trame_tic.substring(lURMS1,lURMS1+3);\nvar nURMS1=parseInt(URMS1);\nvar tPREF=\"PREF\"\nvar lPREF=trame_tic.indexOf(\"PREF\")+tPREF.length+1;\nvar PREF=trame_tic.substring(lPREF,lPREF+2);\nvar nPREF=parseInt(PREF);\nvar tSINSTS=\"SINSTS\"\nvar lSINSTS=trame_tic.indexOf(\"SINSTS\")+tSINSTS.length+1;\nvar SINSTS=trame_tic.substring(lSINSTS,lSINSTS+5);\nvar nSINSTS=parseInt(SINSTS);\nvar tSINSTI=\"SINSTI\"\nvar lSINSTI=trame_tic.indexOf(\"SINSTI\")+tSINSTI.length+1;\nvar SINSTI=trame_tic.substring(lSINSTI,lSINSTI+5);\nvar nSINSTI=parseInt(SINSTI);\nvar tPRM=\"PRM\"\nvar lPRM=trame_tic.indexOf(\"PRM\")+tPRM.length+1;\nvar PRM=trame_tic.substring(lPRM,lPRM+14);\nvar nPRM=parseInt(PRM);\n\nvar SimulAnnee = DATE.substring(0,4);\nvar SimulMois = parseInt(DATE.substring(4,6));\nvar SimulJour = DATE.substring(6,8);\nvar SimulHours = DATE.substring(8,10);\nvar SimulMin = DATE.substring(10,12);\nvar SimulSec = DATE.substring(12,14);\n\nSnSrIdxObj.TICtime = new Date(SimulAnnee, SimulMois-1, SimulJour, SimulHours, SimulMin, SimulSec, 0);\nSnSrIdxObj.TICstamp = SnSrIdxObj.TICtime.getTime(); \nSnSrIdxObj.tarif = LTARF;\nSnSrIdxObj.soutiridx = (isNaN(nEAST)) ? 0 : nEAST; \nSnSrIdxObj.injectidx = (isNaN(nEAIT)) ? 0 : nEAIT; \nSnSrIdxObj.Uinst = nURMS1; \nSnSrIdxObj.PuisRef = nPREF; \nSnSrIdxObj.PuisInst = Math.max(nSINSTS, nSINSTI); \nSnSrIdxObj.nPRM = nPRM; \n\nflow.set('SnSrIdxObj',SnSrIdxObj);\nglobal.set('SnSrGlobalIdx',SnSrIdxObj);\n\n\n//SnSrObj.timenow = new Date(SimulAnnee, SimulMois-1, SimulJour, SimulHours, SimulMin, SimulSec, 0);\n//SnSrObj.tarif = LTARF; SnSrObj.SoutirIdx = nEAST; SnSrObj.InjectIdx = nEAIT; SnSrObj.Uinst = nURMS1; SnSrObj.PuisRef = nPREF; SnSrObj.PuisInst = nSINSTS; SnSrObj.nPRM = nPRM; \n//SnSrIdx [0] = SnSrObj.timenow; \n//SnSrIdx [1] = nEAST;\n//SnSrIdx [2] = nEAIT;\n//flow.set('SnSrIdx', SnSrIdx);\n//msg.SnSrObj = SnSrObj;\n\nmsg.SnSrIdxObj = SnSrIdxObj;\n\nvar annee = SnSrIdxObj.TICtime.getFullYear();\nvar mois = SnSrIdxObj.TICtime.getMonth();\nvar moisTab = new Array('Jan.', 'Fév.', 'Mar.', 'Avr.', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.');\nvar j = SnSrIdxObj.TICtime.getDate();\nvar h = SnSrIdxObj.TICtime.getHours();\nvar m = SnSrIdxObj.TICtime.getMinutes();\nif(h<10){ h = \"0\"+h;}\nif(m<10){ m = \"0\"+m;}\n\nmsg0.payload = (\" \" + j + \" \" + moisTab[mois] + \" \" + annee + \" - \" + h + \" : \" + m) || 'init';\n\n//msg0.payload = [ADSC,DATE_label,DATE,LTARF,nEAST,nEAIT,nURMS1,nPREF,nSINSTS,nPRM];\nmsg1.payload = SnSrIdxObj.Uinst;\nmsg1.topic = 'tension'\nmsg2.payload = SnSrIdxObj.PuisInst;\nmsg2.topic = 'puissance'\nmsg3.payload = (SnSrIdxObj.soutiridx/1000).toFixed(2); // Math.round(SnSrIdxObj.soutiridx/100)/10; //arrondi au kWh avec 1 digit //nEAST.toString().substring(2)/1000;\nmsg3.topic = 'SoutirIdx'\nmsg4.payload = (SnSrIdxObj.injectidx/1000).toFixed(2); // Math.round(SnSrIdxObj.injectidx/100)/10; //arrondi au kWh avec 1 digit //nEAIT.toString().substring(2)/1000;\nmsg4.topic = 'InjectIdx'\n\nreturn [msg0, msg1, msg2, msg3, msg4];\n","outputs":5,"noerr":0,"initialize":"","finalize":"","x":700,"y":600,"wires":[[],["61be37db.0dfe78"],["38899325.fe8abc"],["96444d5a.087c7"],["678743a3.3bf92c"]]},{"id":"73b0e498.cdfbbc","type":"function","z":"7f51c6b8.4c9d28","name":"Informations compteur à impulsion","func":"if (msg.payload == 'TIC') {return;}\n\nvar msg1 = {};\nvar msg3 = {};\n\nvar timeNow = new Date();\n//var SnSrIdx = flow.get('SnSrIdx');\nvar SnSrIdxObj = flow.get(\"SnSrIdxObj\"); // /20200127 - RED.util.cloneMessage(flow.get('SnSrIdxObj'));\n\nSnSrIdxObj.IMPstamp = timeNow.getTime(); //SnSrIdx[3]\nSnSrIdxObj.IMPtime = timeNow; //SnSrIdx[3]\n\n// SnSrIdxObj.prodidx = Math.round(msg.count); // Pour une valeur avec le node counter et InitValue >> 0 \nSnSrIdxObj.prodidx += 0.5; // Incrémentation 0,5 car 2 msg par impulsion  montee/descente\nflow.set ('SnSrIdxObj', SnSrIdxObj); //flow.set('SnSrIdx', SnSrIdx);\n\nmsg1.payload = (SnSrIdxObj.prodidx/1000).toFixed(2); //Math.round(SnSrIdxObj.prodidx/100)/10; //arrondi au kWh avec 1 digit // lProdIdx.toString().substring(2)/1000;\nmsg1.topic=\"ProdIdx\";\nmsg1.timenow = timeNow;\n\n// TIMESTAMP YYYYMMDDhhmmss\n\nvar annee = timeNow.getFullYear();\nvar mois = timeNow.getMonth()+1 ;// getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate();\nvar hours   = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar seconds = timeNow.getSeconds();\nvar timeString = \"\" + annee ;\ntimeString  += ((mois < 10) ? \"0\" + mois : mois);\ntimeString  += ((jour < 10) ? \"0\" + jour : jour); \ntimeString  += ((hours < 10) ? \"0\" + hours : hours);\ntimeString  += ((minutes < 10) ? \"0\" + minutes :   minutes);\ntimeString  += ((seconds < 10) ? \"0\" + seconds : seconds) ;\n\nmsg3.timenow = timeNow;\nmsg3.payload = [timeString, SnSrIdxObj.prodidx, timeNow];\nmsg3.topic=\"IMP15\";\n\nreturn [msg1, msg3];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":540,"y":700,"wires":[["493bd4f5.4c48fc"],[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"493bd4f5.4c48fc","type":"delay","z":"7f51c6b8.4c9d28","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":890,"y":700,"wires":[["7abbda5a.a5fc04"]]},{"id":"96444d5a.087c7","type":"delay","z":"7f51c6b8.4c9d28","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":890,"y":620,"wires":[["150727f2.4bd228"]]},{"id":"faf1504b.225ba","type":"function","z":"7f51c6b8.4c9d28","name":"Initialisation des variables","func":"//global.set (\"gAUTOC30\", null);\n//global.set (\"gAutoC30\", null);\n//global.set (\"gProd30\", null);\n//global.set (\"gInject30\", null);\n//global.set (\"gProdIdx\", null);\n//global.set (\"gSoutir30\", null);\n//global.set (\"gmsg\", null);\n//global.set (\"pTimeStamp\", null);\n//flow.set (\"TICflow\", null);\n//flow.set (\"PROD15\", null);\n\n// TIMESTAMP YYYYMMDDhhmmss\nvar timeNow = new Date(msg.payload);\n\n//var exdate = new Date(timeNow.getTime() - 24*60*60*1000); //la veille\nvar annee = timeNow.getFullYear();\nvar mois = timeNow.getMonth()+1; // getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate();\nvar hours   = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar seconds = timeNow.getSeconds();\nvar timeString = \"\" + annee ;\ntimeString  += ((mois < 10) ? \"0\" + mois : mois);\ntimeString  += ((jour < 10) ? \"0\" + jour : jour); \ntimeString  += ((hours < 10) ? \"0\" + hours : hours);\ntimeString  += ((minutes < 10) ? \"0\" + minutes :   minutes);\ntimeString  += ((seconds < 10) ? \"0\" + seconds : seconds) ;\n\n//minutes pour le prochain TIC15\n//var minutes2 = (Math.round(minutes/15)+1)*15-15;\n\n//flow.set (\"TIC15\", ['TIMESTAMP', 6999999, 6999999, minutes2, 99, 99, 99, 99]);\n//flow.set (\"IMP15\", ['TIMESTAMP', 6999999, minutes2, 0, 0]);\n//flow.set (\"SnSrFlow\", ['TIMESTAMP', null, null, null, null, null, null, null, null, null]);\n//flow.set (\"SimulIdx\", [timeNow, 6999999, 6999999, 6999999, 6999999, timeNow, 6999999, 6999999]); //soutir, inject, prod, autoconso\n//flow.set (\"membre\", ['pseudo', 021675051387, 14282923268426, 6, 'BASE', 3]);\n//flow.set (\"SnSrHier\", [exdate, '1er jour', '1er jour', '1er jour', '1er jour', '1er jour', 6999999, 6999999, 6999999]);\nflow.set (\"SnSrCoin\", [9, 0, timeNow.getFullYear()]);\n//flow.set (\"SnSrIdx\", ['TIMESTAMP', 6999999, 6999999, 'TIMESTAMP2', 6999999]);\n//flow.set (\"SnSr15\", ['TIMESTAMP', 6999999, 6999999, 'TIMESTAMP2', 6999999]);\n//flow.set (\"SnSrStack\", {\"TICstamp\":timeNow.getTime(),\"TICtime\":\"TICTIME\",\"soutiridx\":6999999,\"injectidx\":6999999,\"IMPstamp\":timeNow.getTime(),\"IMPtime\":'IMPTIME',\"prodidx\":6999999,\"prodmoyidx\":6999999,\"prodmaxidx\":6999999});\n\nvar SnSrIdxObj = {\"TICstamp\":timeNow.getTime(),\"TICtime\":\"TICTIME\",\"soutiridx\":0,\"injectidx\":0,\"IMPstamp\":timeNow.getTime(),\"IMPtime\":'IMPTIME',\"prodidx\":0, \"consoIMPidx\" : 0};\nflow.set (\"SnSrIdxObj\", SnSrIdxObj);\n\nflow.set (\"SnSr15Simul\", {\"timestamp\":timeNow.getTime(),\"prodmoyidx\":null,\"prodmaxidx\":null});\nflow.set (\"membre\", {\"pseudo\":'pseudo', \"id\":'00x00Aa', \"ADSC\":021675051387, \"PDL\":14282923268426, \"Psoutir\":6, \"profil\":'BASE',\"Pprod\":3, \"Productible\":1200, 'ProdCorrec': 0.5, 'ConsoObjAnnuel': 3*1200}); //Pprod en kWc, productible en kWh/kWc pour Nantes\nif(flow.get(\"SnSrPurse\",\"file\")==undefined){flow.set (\"SnSrPurse\", {\"Tirelire\":0, \"erosion\":364/365, 'thisyear':timeNow.getFullYear()},\"file\");}\nif(flow.get(\"SnSrHier\",\"file\")==undefined){flow.set (\"SnSrHier\", {\"yesterday\":timeNow, \"soutirhier\": null, \"injecthier\": null, \"autoconsohier\": null, \"consohier\": null, \"prodhier\": null, \"soutiridx\": null, \"injectidx\": null, \"prodidx\": null},\"file\");}\nflow.set (\"SnSrSimul\", {\"timestamp\":timeNow.getTime(),\"time\":timeNow,\"soutiridx\":6999999,\"injectidx\":6999999,\"prodidx\":6999999,\"autoconsoidx\":6999999,\"prodmoyidx\":6999999,\"prodmaxidx\":6999999});\n//flow.set (\"SnSrTab\", [timeNow.getTime(),6999999,6999999,6999999,6999999,6999999]);\nflow.set (\"SnSr15Obj\", {\"TICstamp\":timeNow.getTime(),\"TICtime\":\"TICTIME\",\"soutiridx\":null,\"injectidx\":null,\"IMPstamp\":timeNow.getTime(),\"IMPtime\":'IMPTIME',\"prodidx\":null, \"consoIMPidx\" : null});\nflow.set (\"onTime\", timeNow);\n\nvar SnSrForecast = \n    {\"series\": [\"production\", \"prevision\", \"prevision_\"],\n    \"data\": \"\",\n    \"labels\": [\"\",\"\",\"\"],\n    \"LastIdx\" : SnSrIdxObj,\n    \"init\" : {\"init\":\"demarrage\", \"timeNow\":timeNow.getTime()},\n    }\nflow.set(\"SnSrForecast\", SnSrForecast);\n\nmsg.payload='ok';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":280,"wires":[[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"96adacc.b67895","type":"inject","z":"7f51c6b8.4c9d28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"","payloadType":"date","x":130,"y":280,"wires":[["faf1504b.225ba"]]},{"id":"f823ec17.781ac","type":"inject","z":"7f51c6b8.4c9d28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"180","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":130,"y":1100,"wires":[["837c1696.e746f8"]]},{"id":"adbcccba.3d492","type":"function","z":"7f51c6b8.4c9d28","name":"Test TIC","func":"let test = msg.payload.indexOf(\"ADSC\");\nlet test2 = msg.payload.indexOf(\"BASE\");\n\nif (test != undefined){\n    msg.topic='standard';\n    msg.timenow = new Date();\n    return msg;}\nelse if (test2 != undefined){\n    msg.topic='historique';\n    msg.timenow = new Date();\n    msg.payload = \"\";\n    return msg;}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":600,"wires":[["f9903f4d.e4ac6"]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"26e1dce7.d6cb74","type":"function","z":"7f51c6b8.4c9d28","name":"Informations journée d'hier","func":"//Passer le tableau en objet pour les graphs et la BDD\nvar msg0 = {}; msg1 = {}; msg2 = {}; msg3 = {}; msg4 = {}; msg5 = {};\n// msg3, msg4, msg5, msg6, msg7, msg8, msg9  = new Object ();\nvar SnSrHier=flow.get(\"SnSrHier\",\"file\");\nvar SnSrCoin=flow.get(\"SnSrCoin\");\nvar yesterday = new Date(SnSrHier.yesterday);\nvar membre=flow.get(\"membre\");\n\n\nif ((SnSrHier.soutiridx === null) && (SnSrHier.injectidx === null) && (SnSrHier.prodidx === null))  //Correspond à l'inititalisation\n        {var SnSrIdxObj = flow.get(\"SnSrIdxObj\");\n        SnSrHier.soutiridx = SnSrIdxObj.soutiridx;\n        SnSrHier.injectidx = SnSrIdxObj.injectidx;\n        SnSrHier.prodidx = SnSrIdxObj.prodidx;\n        flow.set(\"SnSrHier\",SnSrHier,\"file\");\n    }\n        \n//Transmission des éléments pour le bilan de la veille\nmsg0.topic = 'TimeStampHier';\nmsg0.measurement = 'TimeStampHier';\nmsg0.retentionPolicy = '30d';\nmsg0.payload = yesterday.toLocaleDateString() || \"Pas d'infomation\";\nmsg1.topic = 'SoutirageHier';\nmsg1.measurement = 'SoutirageHier';\nmsg1.retentionPolicy = '30d';\nmsg1.payload = (SnSrHier.soutirhier==null) ? \"Pas d'infomation\" : (Math.round(SnSrHier.soutirhier/100)/10).toString()+\" kWh\";\nmsg2.topic = 'InjectionHier';\nmsg2.measurement = 'InjectionHier';\nmsg2.retentionPolicy = '30d';\nmsg2.payload = (SnSrHier.injecthier==null) ? \"Pas d'infomation\" : (Math.round(SnSrHier.injecthier/100)/10).toString()+\" kWh\";\nmsg3.topic = 'AutoconsoHier';\nmsg3.measurement = 'AutoconsoHier';\nmsg3.retentionPolicy = '30d';\nmsg3.payload = (SnSrHier.autoconsohier==null) ? \"Pas d'infomation\" : (Math.round(SnSrHier.autoconsohier/100)/10).toString()+\" kWh\";\nmsg4.topic = 'ProductionHier';\nmsg4.measurement = 'ProductionHier';\nmsg4.retentionPolicy = '30d';\nmsg4.payload = (SnSrHier.prodhier==null) ? \"Pas d'infomation\" : (Math.round(SnSrHier.prodhier/100)/10).toString()+\" kWh\";\nmsg5.topic = 'SnSrCoin';\nmsg5.measurement = 'SnSrCoin';\nmsg5.retentionPolicy = '30d';\nmsg5.payload = SnSrCoin;\n\nvar objectif = membre.ConsoObjAnnuel *1000 / 365; // en Wh\nvar max = Math.round(Math.max((objectif - SnSrHier.soutirhier - SnSrHier.autoconsohier)/1000, 0));\nif (max === 0) {max = null;}\nvar max2 = Math.round(Math.max((SnSrHier.soutirhier + SnSrHier.autoconsohier - SnSrHier.injecthier)/1000, 0));\nif (max2 === 0) {max2 = null;}\n\nvar msg6 ={};\nmsg6.payload = //Graph donut double de nodered dashboard, pas de transparence\n    [{\n    \"series\": [ \"exterieur\", \"interieur\", \"centre2\", \"centre1\"],\n    \"data\": [ \n             [null,null,Math.round(SnSrHier.injecthier/100)/10,max2, max], \n             [Math.round(SnSrHier.autoconsohier/100)/10,Math.round(SnSrHier.soutirhier/100)/10,null,null,max],\n             [], \n             [] \n            ],\n    \"labels\": [ \"autoconso\", \"soutirage\", \"injection\", '__', '☺'],\n    }];\n\nvar msg7 ={}; \nmsg7.payload =  //Graph donut simple de nodered dashboard, pas de transparence\n    [{\n    \"series\": [ \"exterieur\", \"centre\"],\n    \"data\": [ [(Math.round(SnSrHier.injecthier/100)/10+Math.round(SnSrHier.autoconsohier/100)/10),(Math.round(SnSrHier.soutirhier/100)/10 + Math.round(SnSrHier.autoconsohier/100)/10)], [], [] ],\n    \"labels\": [ \"production\", \"consommation\" ],\n    }];\n\nvar msg8 ={};\nmsg8.payload =  // Valeurs du double donought chart.js\n        [   [Math.round(SnSrHier.injecthier/100)/10,null,null,max2,max], //[inject,0,0,reste,eco],\n            [null,(Math.round(SnSrHier.autoconsohier/100)/10),Math.round(SnSrHier.soutirhier/100)/10,null,max], // [null, autoconso, soutir, 0, eco],\n            [ \"injection\", \"autoconso\", \"soutirage\", '--', '☺'],\n        ];\n\nif ((SnSrHier.soutirhier === null) || (SnSrHier.soutirhier === 0))// Boucle pour produire un graph le 1er jour\n    {   msg8.payload = // Valeurs du double donought chart.js\n            [   [1,null,null,max2,max], //[inject,0,0,reste,eco],\n                [null,1,2,null,max], // [null, autoconso, soutir, 0, eco],\n                ['1er jour', '1er jour.', '1er jour', '--', '☺'],\n            ];\n            \n        msg7.payload =  //Graph donut simple de nodered dashboard, pas de transparence\n            [{   \"series\": [ \"exterieur\", \"centre\"],\n                 \"data\": [ [2,3], [], [] ],\n                 \"labels\": [ \"1er jour\", \"1er jour\" ],\n            }];\n    }\n\n//Cas particulier du 1er jour\n//var Dt = new Date().getTime()-yesterday.getTime(); // ERREUR : tj < 24h\n//if (Dt < 24*60*60*1000) \n//    {SnSrHier.soutirhier = \"1er jour\";\n//    SnSrHier.injecthier = \"1er jour\";\n//    SnSrHier.autoconsohier = \"1er jour\";\n//    SnSrHier.consohier = \"1er jour\";\n//    flow.set('SnSrHier', SnSrHier);\n//    msg1.payload = \"1er jour\";\n//    msg2.payload = \"1er jour\";\n//    msg3.payload = \"1er jour\";\n//    msg4.payload = \"1er jour\";\n//    }\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8] ;\n","outputs":9,"noerr":0,"initialize":"","finalize":"","x":700,"y":1040,"wires":[[],["9eecd34e.58446"],["98faa0d2.036ae"],["85797767.cf3698"],["754d9d72.32ec94"],[],["c10e3c4c.58a91"],["f150c579.c2aa78"],[]]},{"id":"90370437.446c88","type":"function","z":"7f51c6b8.4c9d28","name":"Informations pour graphiques","func":"\n//jaune #FCFC44 // bleu #1F77B4 // orange #EB7B16 // vert clair #98DF8A // gris #848585 // vert foncé #17A822\n\nvar SnSrIdxObj = RED.util.cloneMessage(flow.get(\"SnSrIdxObj\"));\n//var SnSrTab = flow.get('SnSrTab');\nvar SnSr15Obj = flow.get(\"SnSr15Obj\");\n//var consoIMPidx= flow.get(\"consoIMPidx\");\nvar membre = flow.get('membre');\nvar alarm = 'aucune erreur'\n\n//var SnSrTab = [];\n//SnSrTab[0] = SnSrIdxObj.TICstamp;\n//SnSrTab[1] = SnSrIdxObj.soutiridx;\n//SnSrTab[2] = SnSrIdxObj.injectidx;\n//SnSrTab[3] = SnSrIdxObj.prodidx;\n//SnSrTab[4] = Math.round(SnSrSimul.prodmoyidx);\n//SnSrTab[5] = Math.round(SnSrSimul.prodmaxidx);\n//flow.set('SnSrTab', SnSrTab);\n\nvar soutir = (SnSrIdxObj.soutiridx - SnSr15Obj.soutiridx) || 0;\nvar inject = (SnSrIdxObj.injectidx -  SnSr15Obj.injectidx)  || 0; \nvar prod = (SnSrIdxObj.prodidx - SnSr15Obj.prodidx)  || 0; \nvar consoIMP = (SnSrIdxObj.consoIMPidx - SnSr15Obj.consoIMPidx) || 0;\nvar deltaTtic = (SnSrIdxObj.TICstamp - SnSr15Obj.TICstamp);\nvar deltaTimp = (SnSrIdxObj.IMPstamp - SnSr15Obj.IMPstamp);\n\nvar Debug15 = {\"soutir\":soutir, \"inject\":inject, \"prod\":prod, \"conso\":'init',\"autoconso\":'init', \"Pprod\":membre.Pprod, \"Psoutir\":membre.Psoutir};\n//evacuer les valeur abérentes (inititalisation);\nif ((prod < 0) || (Math.abs(prod) > membre.Pprod*1000*1.2)) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0;}\nif ((soutir < 0) || (Math.abs(soutir) > membre.Psoutir*1000*1.2)) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0;}\nif ((inject < 0) || (Math.abs(inject) > membre.Pprod*1000*1.2)) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0;}\nif ((consoIMP < 0) || (Math.abs(consoIMP) > membre.Psoutir*1000*1.2)) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0;}\n\n// Cas ou LINKY ne remonte pas l'injection, 2e compteur à impulsion\n// On reconstitue un index d'injection à partir de la consommation totale\nif (isNaN(SnSrIdxObj.injectidx))  // && soutir === 0 // LINKY non fonctionnel et journée : soutir = 0 => inject > 0 // (typeof SnSrIdxObj.injectidx != \"number\") \n    {inject = Math.max((prod - consoIMP),0);\n    SnSrIdxObj.injectidx = SnSr15Obj.injectidx + inject;\n    }\n    \n// CAS GENERAL : LINKY fonctionnel remonte injectidx ou soutir > 0 (la nuit)\nvar autoconso = -1 * (prod - inject) || 0; // A VERIFIER cas prod faible (< conso), autoconso != 0\nvar conso = soutir - autoconso; // autoconso < 0\nif ((autoconso > 0) || (Math.abs(autoconso) > membre.Pprod*1000*1.2)) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0; autoconso = 0}\nif ((conso < 0) || (Math.abs(conso) > membre.Psoutir*1000*1.2)) {prod = 0; soutir = 0; inject = 0; conso = 0; consoIMP = 0; autoconso = 0}\n\n\nflow.set('SnSr15Obj', SnSrIdxObj);\n\nsoutir = Math.round(1000*60*60*(soutir/deltaTtic)) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\ninject = Math.round(1000*60*60*(inject/deltaTtic)) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\nprod = Math.round(1000*60*60*(prod/deltaTimp)) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\n//var consoIMP = Math.round(1000*60*60*(inject/(SnSrIdxObj.stamp - SnSr15Obj.TICstamp))); // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\nautoconso = Math.round(1000*60*60*(autoconso/deltaTtic)) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\nconso = Math.round(1000*60*60*(conso/deltaTtic)) || 0; // en (Wh/ms)*1000*60*60 //SnSr15Obj.injectidx) // SnSrTab[2])\n\nDebug15.autoconso = autoconso; Debug15.conso = conso; \n\nif ((prod === 0) && (inject > 0))\n    {alarm = 'Erreur IMPULSION'}\nif ((soutir < 0) || (inject < 0))\n    {alarm = 'Erreur TIC'}\nif ((prod === 0) && (inject === 0))\n    {alarm = 'PAS DE Production'}\n\nvar msg0={}; var msg1={}; var msg2={}; var msg3={}; var msg4={}; var msg5={}; var msg6={};\nmsg0.payload = conso;\nmsg0.topic = 'Consomation';\nmsg1.payload = prod;\nmsg1.topic = 'Production';\nmsg2.payload = inject;\nmsg2.topic = 'Injection';\nmsg3.payload = soutir;\nmsg3.topic = 'Soutirage';\nmsg4.payload = autoconso;\nmsg4.topic = 'Autoconsomation';\nmsg5.payload = SnSrIdxObj;\nmsg5.topic = 'SnSrIdxObj';\nmsg6.payload = consoIMP;\nmsg6.topic = 'consoIMP';\nmsg6.debug = Debug15;\n\nvar msg7 = {'payload' :\n                {  \"x\":new Date((SnSrIdxObj.TICstamp + SnSr15Obj.TICstamp)/2).getTime(), \n                    \"prod\":prod, \n                    \"inject\":inject, \n                    \"soutir\":soutir, \n                    \"conso\":conso,\n                    \"autoconso\":autoconso,\n                },\n            'ConsoObjAnnuel' : membre.ConsoObjAnnuel,\n            };\n\nreturn [msg0, msg1, msg2, msg3, msg4, msg5, msg6, msg7];","outputs":8,"noerr":0,"initialize":"","finalize":"","x":700,"y":1180,"wires":[["9d2c0284.15c92"],["9d2c0284.15c92"],["b627a050.b0f38"],["b627a050.b0f38"],["b627a050.b0f38"],["41adb52e.fcfb9c"],[],["76de27a5.ec2248"]]},{"id":"678743a3.3bf92c","type":"delay","z":"7f51c6b8.4c9d28","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":890,"y":660,"wires":[["42ac8d9f.5febf4"]]},{"id":"afce50b1.4d0b7","type":"delay","z":"7f51c6b8.4c9d28","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1060,"wires":[["26e1dce7.d6cb74"]]},{"id":"837c1696.e746f8","type":"delay","z":"7f51c6b8.4c9d28","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":300,"y":1100,"wires":[["afce50b1.4d0b7","3146883c.b86a38"]]},{"id":"3146883c.b86a38","type":"delay","z":"7f51c6b8.4c9d28","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":1140,"wires":[["90370437.446c88"]]},{"id":"8e078078.ec88","type":"function","z":"7f51c6b8.4c9d28","name":"Informations compteur à impulsion 2","func":"if (msg.payload == 'TIC') {return;}\n\nvar msg1 = {};\nvar msg3 = {};\n\nvar timeNow = new Date();\n//var SnSrIdx = flow.get('SnSrIdx');\n//var SnSrSimul = flow.get(\"SnSrSimul\");\nvar SnSrIdxObj = flow.get(\"SnSrIdxObj\"); //20200127 - RED.util.cloneMessage(flow.get('SnSrIdxObj'));\n//var consoIMPidx= flow.get(\"consoIMPidx\");\n\n//var consoIMPidx = Math.round(msg.count); // pour une valeur init Value >>0\nSnSrIdxObj.consoIMPidx += 0.5; // Incrémentation 0,5 car 2 msg par impulsion  montee/descente\nflow.set ('SnSrIdxObj', SnSrIdxObj); \n\nmsg1.payload = (SnSrIdxObj.consoIMPidx/1000).toFixed(2); //Math.round(SnSrIdxObj.prodidx/100)/10; //arrondi au kWh avec 1 digit // // consoIMPidx.toString().substring(2)/1000;\nmsg1.topic=\"consoidx\";\nmsg1.timenow = timeNow;\n\n// TIMESTAMP YYYYMMDDhhmmss\n\nvar annee = timeNow.getFullYear();\nvar mois = timeNow.getMonth()+1 ;// getMonth() renvoie un mois de 0 à 11\nvar jour = timeNow.getDate();\nvar hours   = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar seconds = timeNow.getSeconds();\nvar timeString = \"\" + annee ;\ntimeString  += ((mois < 10) ? \"0\" + mois : mois);\ntimeString  += ((jour < 10) ? \"0\" + jour : jour); \ntimeString  += ((hours < 10) ? \"0\" + hours : hours);\ntimeString  += ((minutes < 10) ? \"0\" + minutes :   minutes);\ntimeString  += ((seconds < 10) ? \"0\" + seconds : seconds) ;\n\nmsg3.timenow = timeNow;\nmsg3.payload = [timeString, SnSrIdxObj.consoIMPidx, timeNow];\nmsg3.topic=\"CONSO\";\n\nreturn [msg1, msg3];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":550,"y":740,"wires":[["a27ced68.2c5e7"],[]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"9f9c0842.1b22f8","type":"inject","z":"7f51c6b8.4c9d28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":650,"y":1340,"wires":[["76de27a5.ec2248","41adb52e.fcfb9c"]]},{"id":"a27ced68.2c5e7","type":"delay","z":"7f51c6b8.4c9d28","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":890,"y":740,"wires":[["913ce4eb.4602f8"]]},{"id":"dc966bc3.108a08","type":"serial in","z":"7f51c6b8.4c9d28","name":"Signal TIC","serial":"2801b644.dadc02","x":100,"y":600,"wires":[["adbcccba.3d492"]]},{"id":"1e1270c2.d37fcf","type":"rpi-gpio in","z":"7f51c6b8.4c9d28","name":"Compteur à impulsion (production)","pin":"18","intype":"up","debounce":"25","read":false,"x":180,"y":700,"wires":[["73b0e498.cdfbbc"]]},{"id":"b4003ced.548d1","type":"rpi-gpio in","z":"7f51c6b8.4c9d28","name":"Compteur à impulsion (consommation)","pin":"29","intype":"up","debounce":"25","read":false,"x":190,"y":740,"wires":[["8e078078.ec88"]]},{"id":"38899325.fe8abc","type":"delay","z":"7f51c6b8.4c9d28","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":900,"y":580,"wires":[["d6ff5dad.cc783"]]},{"id":"61be37db.0dfe78","type":"delay","z":"7f51c6b8.4c9d28","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":900,"y":540,"wires":[["ac1746ba.c913d8"]]},{"id":"be2985ce.7df1d8","type":"function","z":"7f51c6b8.4c9d28","name":"Informations météo","func":"var msg1 = { payload:msg.payload.temp_maxc };\nvar msg2 = { payload:msg.payload.clouds, topic:\"nuages\" };\nvar msg3 = { payload:msg.payload.tempc };\nvar msg4 = { payload:msg.payload.location + \" : \" + msg.payload.detail }; // + \" , \" + msg.payload.location};\nvar msg5 = { payload:msg.payload.icon};\n\nreturn [ msg1, msg2, msg3, msg4, msg5 ];","outputs":5,"noerr":0,"initialize":"","finalize":"","x":570,"y":1660,"wires":[[],[],["65bad6b0.d380e8"],["ac9ab146.e867a"],["a5d30535.38eb68"]],"outputLabels":["Temp Max","","","",""]},{"id":"88ac82ae.ee123","type":"function","z":"7f51c6b8.4c9d28","name":"Prévision de production","func":"var msg1 = {}; var msg2 = {};\nvar debug = {}; var debugTab = [];\n\nvar forecast = msg.forecast; //Tableau de 8 tranches de previsions météo de 3h\nvar meteo = msg.payload; // objet de la météo du moment\n\nvar test = meteo;\n\nmsg1.payload = msg.payload;\n\nvar SnSrForecast = flow.get(\"SnSrForecast\") || {}; // contient un tableau de objets x,y de 2 séries prod, prev\nvar membre = flow.get('membre');\n\n//Preparation de la prévision de production future via OpenWeatherMap\n\nvar SunCal = []; // Tableau de coefficients moyens mensuels de production PV des données PVGIS et ENEDIS profil PRD3\nSunCal.push({\"mois\":12, \"PVGIS1200\":0.333, \"PVGISclear\":0.597, \"ENEDIS_PRD3\":1.782, \"ENEDIS1200\":0.244}); //SunCal[0] = SunCal[12]\nSunCal.push({\"mois\":1, \"PVGIS1200\":0.297, \"PVGISclear\":0.605, \"ENEDIS_PRD3\":2.071, \"ENEDIS1200\":0.284});\nSunCal.push({\"mois\":2, \"PVGIS1200\":0.404, \"PVGISclear\":0.736, \"ENEDIS_PRD3\":2.962, \"ENEDIS1200\":0.407});\nSunCal.push({\"mois\":3, \"PVGIS1200\":0.469, \"PVGISclear\":0.836, \"ENEDIS_PRD3\":3.696, \"ENEDIS1200\":0.507});\nSunCal.push({\"mois\":4, \"PVGIS1200\":0.546, \"PVGISclear\":0.815, \"ENEDIS_PRD3\":4.231, \"ENEDIS1200\":0.581});\nSunCal.push({\"mois\":5, \"PVGIS1200\":0.503, \"PVGISclear\":0.819, \"ENEDIS_PRD3\":4.493, \"ENEDIS1200\":0.617});\nSunCal.push({\"mois\":6, \"PVGIS1200\":0.52, \"PVGISclear\":0.803, \"ENEDIS_PRD3\":4.673, \"ENEDIS1200\":0.641});\nSunCal.push({\"mois\":7, \"PVGIS1200\":0.527, \"PVGISclear\":0.78, \"ENEDIS_PRD3\":4.709, \"ENEDIS1200\":0.646});\nSunCal.push({\"mois\":8, \"PVGIS1200\":0.562, \"PVGISclear\":0.777, \"ENEDIS_PRD3\":4.513, \"ENEDIS1200\":0.619});\nSunCal.push({\"mois\":9, \"PVGIS1200\":0.559, \"PVGISclear\":0.75, \"ENEDIS_PRD3\":4.129, \"ENEDIS1200\":0.567});\nSunCal.push({\"mois\":10, \"PVGIS1200\":0.419, \"PVGISclear\":0.757, \"ENEDIS_PRD3\":3.226, \"ENEDIS1200\":0.443});\nSunCal.push({\"mois\":11, \"PVGIS1200\":0.343, \"PVGISclear\":0.66, \"ENEDIS_PRD3\":2.329, \"ENEDIS1200\":0.32});\nSunCal.push({\"mois\":12, \"PVGIS1200\":0.333, \"PVGISclear\":0.597, \"ENEDIS_PRD3\":1.782, \"ENEDIS1200\":0.244});\nSunCal.push({\"mois\":1, \"PVGIS1200\":0.297, \"PVGISclear\":0.605, \"ENEDIS_PRD3\":2.071, \"ENEDIS1200\":0.284}); //SunCal[13] = SunCal[1]\n\n\nvar sunset = new Date(meteo.sunset * 1000);\nvar sunrise =  new Date(meteo.sunrise * 1000);\nvar LeverSoleil = sunrise.getHours()*60+sunrise.getMinutes();//new Date((meteo.sunrise+24*60*60)*1000); // timestamp le lendemain, horaire du lever du soleil \nvar CoucherSoleil  = sunset.getHours()*60+sunset.getMinutes();//new Date((meteo.sunset+24*60*60)*1000); \nvar facteurX = 3047.380505; //facteur  arbitraire sans unité calculé à partir de la prod moyenne d'une journee \n\nvar annee = sunrise.getFullYear();\nvar mois = sunrise.getMonth()+1 ;// getMonth() renvoie un mois de 0 à 11\nvar jour = sunrise.getDate();\n\n\nvar mois2 = mois;\nif (jour < 15) { mois2 = mois - 1;}\n    else { mois2 = mois + 1;}\nvar CS = SunCal[mois].PVGISclear;\nvar CS2 = SunCal[mois2].PVGISclear;\n\nCS = CS + ((15-jour)*(CS-CS2)/Math.abs(Math.round(new Date(annee, mois, 15) - new Date (annee, mois2, 15))/(1000*60*60*24))); //interpolation de 2 CS mensuels\nvar facteurP = 1; if (CS > 1) {facteurP = membre.Productible * facteurX /(365*24);} // cas pour utiliser le profile ENEDIS_PRD3 facteur de puissance sans unité\n\n//var XY = SnSrForecast.data[1][7];\nfor (var i=0; i<12;i++) \n    {\n     var trancheH = new Date(1000*(forecast[i].dt+forecast[i+1].dt)/2);\n     var trancheH2 = trancheH.getHours()*60+trancheH.getMinutes();\n     var Jour100 = Math.round(100*(trancheH2 - LeverSoleil)/(CoucherSoleil - LeverSoleil));\n     var parabole = 1 + (-1 * (Math.pow(((Jour100-50)/50 ), 2))); // parabole <0 LA NUIT avant et après le coucher du soleil\n     // var integrale = (-1 * Math.pow(((Jour100b-50)/50), 3)/3 + (Jour100b-50)/50 + 2/3) - (-1 * Math.pow(((Jour100a-50)/50), 3)/3 + (Jour100b-50)/50 + 2/3); //-x3/3+x+2/3 IntegraleB-integraleA\n     prod = Math.max((membre.Pprod * 1000 * parabole * CS * facteurP), 0);  // prod sans nuages, puissance en W, vaut 0 avant et après le coucher du soleil car parabole <0 la nuit\n    \n     SnSrForecast.data[2][i] = { \"x\": trancheH.getTime(),\n                                \"y\": Math.round(prod * (0.10 + 0.90 * (Math.pow(1 - (forecast[i].clouds.all/100),2))))\n                                  }\n     //SnSrForecast.data[1][23-i].x = trancheH.getTime() ; // on commence par la fin\n     //SnSrForecast.data[1][23-i].y = Math.round(prod * (0.1 + 0.9 * (Math.pow(1 - (forecast[11-i].clouds.all/100),2))));\n     //nébulosité sur 90% de la valeur prend en compte l'irradiation indirecte + mise au carré car la relation n'est pas linéaire\n     \n     debugTab.push({\"trancheH\":trancheH , \"Jour100\":Jour100 , \"CS\":CS, \"parabole\":parabole , \"prod\":prod, \"clouds\":forecast[i].clouds.all, \"SnSrForecast\": SnSrForecast.data[2][i].y});   \n     debugTab.shift();\n     //evacuer les valeur abérentes (inititalisation);\n     // if (Math.abs(prod) > membre.Pprod*1000) {prod = 0;}\n    }\n\n// Décalage des courbes : le premier point du lendemain devient le dernier point de la courbe du jour\n// SnSrForecast.data[1] a 13 valeurs car il faut que les points se recouvrent pour la contiuité des courbes. Un \"trou\" dans le graphe se crée sinon.\nSnSrForecast.data[1].shift(); //on supprime la premiere valeur [0] puis on ajoute une 13e à la fin\nSnSrForecast.data[1].push( SnSrForecast.data[2][0] ) ; \n\n// la premiere partie de l'objet pour la production est complétée dans la fonction ChgDate\nSnSrForecast.labels = [\"\",\"\", \"\"]\nSnSrForecast.forecast = forecast;\nSnSrForecast.meteo = meteo;\nSnSrForecast.debugTab = {debugTab};\nflow.set (\"SnSrForecast\", SnSrForecast);\n\nmsg1.payload = [{\"series\":SnSrForecast.series, \"data\":SnSrForecast.data, \"labels\":[\"\",\"\", \"\"]}]; // devient un tableau pour la fonction Dashboard sur le graph\n//msg2.payload = [{\"series\":[\"prevision\", \"prevision_0\"], \"data\":[SnSrForecast.data[1], SnSrForecast.data[2]], \"labels\":[\"\",\"\"]}]; // TEST pour ajouter au graph 15 min SnSr15\nmsg2.payload={\"meteo\":meteo, \"forecast\":forecast};\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":830,"y":1800,"wires":[["6b85b623.6f9b28"],[]]},{"id":"77a25e82.d6e2a","type":"inject","z":"7f51c6b8.4c9d28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":130,"y":1740,"wires":[["f6c514e8.8c2398","b7bd1248.9ca47"]]},{"id":"f234581a.83c2f8","type":"change","z":"7f51c6b8.4c9d28","name":"Set Payload to Forecast","rules":[{"t":"set","p":"payload","pt":"msg","to":"forecast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1800,"wires":[["88ac82ae.ee123"]]},{"id":"565bada8.4577e4","type":"function","z":"7f51c6b8.4c9d28","name":"Informations prévision","func":"\n\n// PREVISION METEO (nébulosité)\nvar OpenWeather = msg.payload; //Tableau de 40 tranches de previsions météo de 3h\nvar cloudsforecast2= []; \n\ncloudsforecast2 = \n[{\n\"series\": [\"clarté\"],\n\"data\": [\n    [{ \"x\": new Date((OpenWeather[0].dt+1.5*60*60)*1000).getTime(), \"y\": 100 - OpenWeather[0].clouds.all },\n    { \"x\": new Date((OpenWeather[1].dt+1.5*60*60)*1000).getTime(), \"y\": 100 - OpenWeather[1].clouds.all },\n    { \"x\": new Date((OpenWeather[2].dt+1.5*60*60)*1000).getTime(), \"y\": 100 - OpenWeather[2].clouds.all },\n    { \"x\": new Date((OpenWeather[3].dt+1.5*60*60)*1000).getTime(), \"y\": 100 - OpenWeather[3].clouds.all },\n    { \"x\": new Date((OpenWeather[4].dt+1.5*60*60)*1000).getTime(), \"y\": 100 - OpenWeather[4].clouds.all },\n    { \"x\": new Date((OpenWeather[5].dt+1.5*60*60)*1000).getTime(), \"y\": 100 - OpenWeather[5].clouds.all },\n    { \"x\": new Date((OpenWeather[6].dt+1.5*60*60)*1000).getTime(), \"y\": 100 - OpenWeather[6].clouds.all },\n    { \"x\": new Date((OpenWeather[7].dt+1.5*60*60)*1000).getTime(), \"y\": 100 - OpenWeather[7].clouds.all },\n    { \"x\": new Date((OpenWeather[8].dt+1.5*60*60)*1000).getTime(), \"y\": 100 - OpenWeather[8].clouds.all },\n    ],\n],\n\"labels\": [\"\"]\n}]\n\n// PREVISION DE PRODUCTION PV\n\nmsg.OpenWeather = OpenWeather;\nmsg.payload = cloudsforecast2;\nreturn msg;\n\n// For Line charts \"on the go\"\n// {topic:\"temperature\", payload:22, timestamp:1520527095000}\n\n//For line charts an example is given below\n\n//[{\n//\"series\": [\"A\", \"B\", \"C\"],\n//\"data\": [\n//    [{ \"x\": 1504029632890, \"y\": 5 },\n//     { \"x\": 1504029636001, \"y\": 4 },\n//     { \"x\": 1504029638656, \"y\": 2 }\n//    ],\n//    [{ \"x\": 1504029633514, \"y\": 6 },\n//     { \"x\": 1504029636622, \"y\": 7 },\n//     { \"x\": 1504029639539, \"y\": 6 }\n//    ],\n//    [{ \"x\": 1504029634400, \"y\": 7 },\n//     { \"x\": 1504029637959, \"y\": 7 },\n//     { \"x\": 1504029640317, \"y\": 7 }\n//    ]\n//],\n//\"labels\": [\"\"]\n//}]\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1840,"wires":[["8c872264.6ea77"]]},{"id":"76de27a5.ec2248","type":"function","z":"7f51c6b8.4c9d28","name":"Informations de consommation","func":"//Cette fonction stocke les valeurs toutes les 15 min \n// et met a jour le graph MegaGraph (conso, prod, prevision)\n\nvar SnSr15Last = msg.payload;\nvar SnSrForecast = flow.get(\"SnSrForecast\");\n\nvar ConsoObjAnnuel = msg.ConsoObjAnnuel;\n\nif(flow.get(\"TableConso\",\"file\")==undefined){flow.set (\"TableConso\", [], \"file\")}\nvar TableConso = flow.get(\"TableConso\",\"file\");\nvar MegaGraph = {\n        \"series\":[\"production\", \"consommation\", \"prevision\", \"prevision_\"],\n        \"data\": [[],[],[],[]],\n        \"labels\":[\"\"],\n        };\n\nMegaGraph.data[0].push({\"x\":SnSr15Last.x, \"y\":SnSr15Last.prod});\nMegaGraph.data[1].push({\"x\":SnSr15Last.x, \"y\":SnSr15Last.conso});\n\nTableConso.push(SnSr15Last.conso); // pour réaliser les stats Pointe / Talon\nflow.set(\"TableConso\",TableConso,\"file\");\n\nMegaGraph.data[2] = SnSrForecast.data[1];\nMegaGraph.data[3] = SnSrForecast.data[2];\n\nvar msg0 = {'payload':[MegaGraph]};\n\n// Variables stats pour la définition du \"talon de conso\" et \"pointe de conso\"\nvar msg1 = {};\nmsg1.payload = TableConso;\nmsg1.topic = \"quantile\";\nmsg1.parameter = 0.1;\n\nvar msg2 = {};\nmsg2.payload = TableConso;\nmsg2.topic = \"quantile\"; //\"max\"\nmsg2.parameter = 0.99;\n\nvar msg3 = {};\nmsg3.payload = Math.ceil(ConsoObjAnnuel)/365;\n\nreturn [msg0, msg1, msg2, msg3];","outputs":4,"noerr":0,"initialize":"","finalize":"","x":1050,"y":1380,"wires":[[],["cad2be96.07eba"],["9647541c.df68a8"],["ac39a0e0.dd04b"]]},{"id":"3d3fe03c.37b4e","type":"inject","z":"7f51c6b8.4c9d28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":2020,"wires":[["63bafc51.528164"]]},{"id":"1e1d8482.1351db","type":"template","z":"7f51c6b8.4c9d28","name":"","field":"template","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<style type=\"text/css\">\n.Table {\n    position: absolute;\n    width: 100%;\n    padding: 5%;\n    text-align: center;\n}\n\n.EndTable {\n    position: absolute;\n    top: 250px;\n}\n\n.TxtNewSize {\nfont-size: 1.4em;\n}\n\n.container-slider{\nposition: absolute;\nwidth: 95%;\n}\n\n</style>\n\n<div class=\"container-slider\">\n<table class=\"Table\">\n    <tr>\n        <td class=\"TxtNewSize TxtBold\" ng-bind-html=\"msg.themeConseils\">\n        </td>\n    </tr>\n    <tr>\n        <td ng-bind-html=\"msg.contenuConseils\"></td>\n    </tr>\n</table>\n<table class=\"EndTable\">\n    <tr>\n        <td>\n            <p>\n                <a href=\"https://www.enedis.fr/sites/default/files/Mieux_gerer_ma_consommation_delectricite_avec_le_nouveau_compteur_diffus.pdf\">\n                    <img alt=\"Logo PDF\" src=\"https://sunshare.fr/github/acrobat_adobe_com.ico\" style=\"float: center ;width: 25%;\" />  ENEDIS\n                </a>\n            </p>\n        </td>\n        <td>\n            <p>\n                 <a href=\"https://www.ademe.fr/sites/default/files/assets/documents/guide-pratique-reduire-facture-electricite.pdf\">\n                    <img alt=\"Logo PDF\" src=\"https://sunshare.fr/github/acrobat_adobe_com.ico\" style=\"float: center ;width: 25%;\" />  ADEME\n                </a>\n            </p>\n        </td>\n    </tr>\n    <tr>\n        <td>\n            <p>\n                <a href=\"https://espace-client-particuliers.enedis.fr/web/espace-particuliers/mieux-consommer\"> \n                    <img alt=\"Logo ENEDIS\" src=\"http://sunshare.fr/github/enedis_logo.png\" style=\"float: center ;width: 90%;\" />\n                </a>\n            </p>\n        </td>\n        <td> \n            <p>\n                <a href=\"http://www.ademe.fr/guides-fiches-pratiques\">\n                    <img alt=\"Logo Ademe\" src=\"https://sunshare.fr/github/Logo_ADEME_v5.png\" style=\"float: center ;width: 90%;\" />\n                </a>\n            </p>\n        </td>\n    </tr>\n</table>\n\n<!--\n\n<h3>En savoir plus avec : </h3>\n<table>\n    <tr><td>\n       <p class=\"TxtCenter BtnPlus\">\n        <a  class=\"BtnLevel2 BtnPlus TargetBlank\"\n            href=\"https://espace-client-particuliers.enedis.fr/web/espace-particuliers/mieux-consommer\"> \n            <img alt=\"Logo ENEDIS\" src=\"http://sunshare.fr/github/enedis_logo.png\" style=\"float: center ;width: 90%;\" />\n        </a>\n    </p>\n    </td><td> \n        <p class=\"TxtCenter BtnPlus\">\n        <a  class=\"BtnLevel2 BtnPlus TargetBlank\"\n            href=\"http://www.ademe.fr/guides-fiches-pratiques\">\n            <img alt=\"Logo Ademe\" src=\"https://sunshare.fr/github/Logo_ADEME_v5.png\" style=\"float: center ;width: 90%;\" />\n        </a>\n        </p>\n    </td></tr>\n</table>\n\n    \n</div>-->\n</div>\n\n\n\n<script type=\"text/javascript\">\n\n\n\n    $('.slider2').each(function() {\n  var $this = $(this);\n  var $group = $this.find('.slide_group2');\n  var $slides2 = $this.find('.slide2');\n\n\n  var bulletArray = [];\n  var currentIndex = 0;\n  var timeout;\n\n  function move(newIndex) {\n    var animateLeft, slideLeft;\n\n\n\n    if ($group.is(':animated') || currentIndex === newIndex) {\n      return;\n    }\n\n    bulletArray[currentIndex].removeClass('active');\n    bulletArray[newIndex].addClass('active');\n\n    if (newIndex > currentIndex) {\n      slideLeft = '100%';\n      animateLeft = '-100%';\n    } else {\n      slideLeft = '-100%';\n      animateLeft = '100%';\n    }\n\n    $slides2.eq(newIndex).css({\n      display: 'block',\n      left: slideLeft\n    });\n    $group.animate({\n      left: animateLeft\n    }, function() {\n      $slides2.eq(currentIndex).css({\n        display: 'none'\n      });\n      $slides2.eq(newIndex).css({\n        left: 0\n      });\n      $group.css({\n        left: 0\n      });\n      currentIndex = newIndex;\n    });\n  }\n\n\n\n\n  function advance() {\n    clearTimeout(timeout);\n    timeout = setTimeout(function() {\n      if (currentIndex < ($slides2.length - 1)) {\n        move(currentIndex + 1);\n      } else {\n        move(0);\n      }\n    }, 6000);\n  }\n\n  $('.next_btn2').on('click', function() {\n    if (currentIndex < ($slides2.length - 1)) {\n      move(currentIndex + 1);\n    } else {\n      move(0);\n    }\n  });\n\n  $('.previous_btn2').on('click', function() {\n    if (currentIndex !== 0) {\n      move(currentIndex - 1);\n    } else {\n      move(3);\n    }\n  });\n\n  $.each($slides2, function(index) {\n    var $button = $('<a class=\"slide_btn2\">&bull;</a>');\n\n    if (index === currentIndex) {\n      $button.addClass('active');\n    }\n    $button.on('click', function() {\n      move(index);\n    }).appendTo('.slide_buttons2');\n    bulletArray.push($button);\n  });\n\n});\n\n\n\n    $(function() {\n        $(\"#_56_INSTANCE_gI0uUKLFKcIn_ .TargetBlank\").attr(\"target\", \"_blank\");\n                                });\n</script>\n\n","output":"str","x":460,"y":2020,"wires":[["c2eebe45.8ec75"]]},{"id":"43ce1e7d.8ee2d","type":"comment","z":"7f51c6b8.4c9d28","name":"INDEX LINKY (Historique)","info":"","x":150,"y":340,"wires":[]},{"id":"c5ca5930.6e1008","type":"comment","z":"7f51c6b8.4c9d28","name":"METEO","info":"OpenweatherMap API key : 7997e8bbdce33a3a717b14e9da5f0dce","x":90,"y":1520,"wires":[]},{"id":"7e33a5f0.f10f6c","type":"comment","z":"7f51c6b8.4c9d28","name":"GRAPHIQUES","info":"Rendus des graphs et variables globales","x":120,"y":880,"wires":[]},{"id":"48e091e6.e980f","type":"comment","z":"7f51c6b8.4c9d28","name":"INITIALISATION","info":"SIMULATEUR DE TIC A BRANCHER sur \nTICTEST et IMPserie\n\nUn générateur de timestamp permet de reculer de 20 ans pour accélérer le temps","x":120,"y":220,"wires":[]},{"id":"85797767.cf3698","type":"ui_text","z":"7f51c6b8.4c9d28","group":"baa849fc.7e0f78","order":2,"width":0,"height":0,"name":"[Journée d'hier] Autoconsommation","label":"Autoconso.","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":1000,"wires":[]},{"id":"754d9d72.32ec94","type":"ui_text","z":"7f51c6b8.4c9d28","group":"baa849fc.7e0f78","order":3,"width":0,"height":0,"name":"[Journée d'hier] Production","label":"Production","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":1040,"wires":[]},{"id":"98faa0d2.036ae","type":"ui_text","z":"7f51c6b8.4c9d28","group":"baa849fc.7e0f78","order":4,"width":0,"height":0,"name":"[Journée d'hier] Injection","label":"Injection","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":960,"wires":[]},{"id":"150727f2.4bd228","type":"ui_text","z":"7f51c6b8.4c9d28","group":"432cb2e6.dd78fc","order":1,"width":0,"height":0,"name":"[Index] Soutirage","label":"Soutirage","format":"{{msg.payload}} kWh","layout":"row-spread","x":1110,"y":620,"wires":[]},{"id":"42ac8d9f.5febf4","type":"ui_text","z":"7f51c6b8.4c9d28","group":"432cb2e6.dd78fc","order":2,"width":0,"height":0,"name":"[Index] Injection","label":"Injection","format":"{{msg.payload}} kWh","layout":"row-spread","x":1100,"y":660,"wires":[]},{"id":"7abbda5a.a5fc04","type":"ui_text","z":"7f51c6b8.4c9d28","group":"432cb2e6.dd78fc","order":3,"width":0,"height":0,"name":"[Index] Production","label":"Production","format":"{{msg.payload}} kWh","layout":"row-spread","x":1110,"y":700,"wires":[]},{"id":"9eecd34e.58446","type":"ui_text","z":"7f51c6b8.4c9d28","group":"baa849fc.7e0f78","order":1,"width":0,"height":0,"name":"[Journée d'hier] Soutirage","label":"Soutirage","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":920,"wires":[]},{"id":"913ce4eb.4602f8","type":"ui_text","z":"7f51c6b8.4c9d28","group":"432cb2e6.dd78fc","order":4,"width":0,"height":0,"name":"[Index] Consommation","label":"Consommation","format":"{{msg.payload}} kWh","layout":"row-spread","x":1120,"y":740,"wires":[]},{"id":"ac9ab146.e867a","type":"ui_text","z":"7f51c6b8.4c9d28","group":"b9ee9665.1941b","order":1,"width":3,"height":2,"name":"[Météo] Lieu","label":"","format":"{{msg.payload}}","layout":"row-center","x":790,"y":1660,"wires":[]},{"id":"65bad6b0.d380e8","type":"ui_text","z":"7f51c6b8.4c9d28","group":"b9ee9665.1941b","order":3,"width":0,"height":0,"name":"[Météo] Température","label":"Température : ","format":"{{msg.payload}} &degC","layout":"row-center","x":820,"y":1620,"wires":[]},{"id":"81695a91.114a78","type":"ui_text","z":"7f51c6b8.4c9d28","group":"6bc8951f.8f5abc","order":1,"width":0,"height":0,"name":"[Objectifs] Pointe de consommation","label":"Pointe de consommation","format":"{{msg.payload}} W","layout":"row-spread","x":1540,"y":1400,"wires":[]},{"id":"5d140b74.32d624","type":"ui_text","z":"7f51c6b8.4c9d28","group":"6bc8951f.8f5abc","order":2,"width":0,"height":0,"name":"[Objectifs] Talon de consommation","label":"Talon de consommation","format":"{{msg.payload  | number: 0}} W","layout":"row-spread","x":1540,"y":1360,"wires":[]},{"id":"ac39a0e0.dd04b","type":"ui_text","z":"7f51c6b8.4c9d28","group":"6bc8951f.8f5abc","order":3,"width":0,"height":0,"name":"[Objectifs] Objectif consommation","label":"Objectif consommation","format":"{{msg.payload | number: 0}} kWh/j","layout":"row-spread","x":1360,"y":1440,"wires":[]},{"id":"ac1746ba.c913d8","type":"ui_gauge","z":"7f51c6b8.4c9d28","name":"[Linky Live] Tension eff.","group":"b7a72834.b7abc8","order":2,"width":3,"height":3,"gtype":"gage","title":"Tension eff.","label":"V","format":"{{value}}","min":"215","max":"240","colors":["#00b500","#e6e600","#ca3838"],"seg1":"225","seg2":"230","x":1130,"y":540,"wires":[]},{"id":"d6ff5dad.cc783","type":"ui_gauge","z":"7f51c6b8.4c9d28","name":"[Linky Live] Puissance inst.","group":"b7a72834.b7abc8","order":1,"width":3,"height":3,"gtype":"gage","title":"Puissance inst.","label":"Watt / VA","format":"{{value}}","min":"100","max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"500","seg2":"1000","x":1140,"y":580,"wires":[]},{"id":"6b85b623.6f9b28","type":"ui_chart","z":"7f51c6b8.4c9d28","name":"[BONUS] Prod demain","group":"ce072d05.42146","order":4,"width":0,"height":0,"label":"production demain","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"100","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff8000","#fcfc44","#e4ff6f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1080,"y":1780,"wires":[["70e1e760.db0fb8"]]},{"id":"8c872264.6ea77","type":"ui_chart","z":"7f51c6b8.4c9d28","name":"[Météo] Clarté du ciel","group":"b9ee9665.1941b","order":4,"width":0,"height":0,"label":"Clarté du ciel pour 24h","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"100","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e6b400","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":1840,"wires":[[]]},{"id":"c10e3c4c.58a91","type":"ui_chart","z":"7f51c6b8.4c9d28","name":"[BONUS] Auto&Inj donut","group":"ce072d05.42146","order":2,"width":0,"height":0,"label":"pour hier (kWh) : ","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2ca02c","#afadad","#98df8a","#595454","#595454","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1610,"y":1060,"wires":[["5a24ec34.df8464"]]},{"id":"f150c579.c2aa78","type":"ui_chart","z":"7f51c6b8.4c9d28","name":"[Journée d'hier] Donut Consommation & Production","group":"baa849fc.7e0f78","order":0,"width":0,"height":0,"label":"Ratio pour hier (kWh) :","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff7f0e","#1f77b4","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1670,"y":1100,"wires":[["5ec02d8.18e2dd4"]]},{"id":"23add628.c2c02a","type":"ui_ui_control","z":"7f51c6b8.4c9d28","name":"","events":"all","x":580,"y":2220,"wires":[[]]},{"id":"f50f404f.ef658","type":"ui_ui_control","z":"7f51c6b8.4c9d28","name":"","events":"all","x":840,"y":2020,"wires":[[]]},{"id":"84ab8c2b.0d904","type":"ui_template","z":"7f51c6b8.4c9d28","group":"a1df11f1.7648f8","name":"[A propos] Format d'affichage","order":1,"width":0,"height":0,"format":"<h3>La boxénergie est un projet libre </h3>\n<p><img alt=\"CopyLeft\"\n    src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Copyleft.svg/512px-Copyleft.svg.png\" style=\"float: left ;width: 5%;\" />\n    &nbsp; &nbsp;\n    \n<a href=\"https://sunshare.fr/boxenergie\" target=\"_blank\"> A propos</a>\n</p>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":380,"y":2260,"wires":[[]]},{"id":"c2eebe45.8ec75","type":"ui_template","z":"7f51c6b8.4c9d28","group":"dc58a71a.3a1d9","name":"Affichage conseils","order":1,"width":"6","height":"7","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":650,"y":2020,"wires":[["f50f404f.ef658","63bafc51.528164"]]},{"id":"d294df29.d107c","type":"ui_template","z":"7f51c6b8.4c9d28","group":"a1df11f1.7648f8","name":"[En-tête] Format d'affichage","order":2,"width":0,"height":0,"format":"<script id=\"clockScript1\" type=\"text/javascript\">\n\nvar home = new Object();\nhome.payload = 'Home'; // This is the payload that goes out\n    \nvar theScope = scope;\nvar clockInterval;\n    \n$(function () {\n    if (clockInterval) return;\n    \n    //add logo\n    var divLogo = $('<div/>');\n    var logo = new Image();\n\n    logo.src = 'http://sunshare.fr/assets/images/SnSr_maison.png'\n    logo.height = 45;\n    divLogo[0].style.margin = '10px auto';\n\n    divLogo.append(logo);\n\n   \n    //add clock\n    var divClock = $('<div />');\n    var p = $('<p />');\n    divClock.append(p);\n    divClock[0].style.margin = '15px';\n   \n    function addZero(i) {\n        if (i < 10) {\n            i = \"0\" + i\n        }\n        return i;\n    }\n\n    function formatDate(date) {\n        var monthNames = [\"Jan.\", \"Fév.\", \"Mars\", \"Avr.\", \"Mai\", \"Juin\", \"Juil.\", \"Août\", \"Sept.\", \"Oct.\", \"Nov.\", \"Déc.\"];\n        var day = date.getDate();\n        var monthIndex = date.getMonth();\n        var year = date.getFullYear();\n        var hour = addZero(date.getHours());\n        var minute = addZero(date.getMinutes());\n        var second = addZero(date.getSeconds());\n        return day + '. ' + monthNames[monthIndex] + ' ' + year + \" - \" + hour +':' + minute; //  + ':' + second;\n    }\n \n    function displayTime() {\n        p.text( formatDate( new Date() ) );\n    }\n    \n    clockInterval = setInterval(displayTime, 1000);\n    \n    // add Text\n    var divText = $('<div />');\n    var t = document.createTextNode(\"Boxénergie démo page - SunShare\"); // <== add title here\n    divText.append(t)\n    divText[0].style.margin = '40px auto';\n    divText[0].style.size = '40';\n    \n    // add button\n    var divButton = $('<div />');\n    var button = document.createElement(\"BUTTON\");\n    var b = document.createTextNode(\"Home Screen\")\n    button.height=40;\n    button.width=40;\n    button.appendChild(b);\n    button.addEventListener(\"click\", doIT.bind(null,home));\n    divButton.append(button);\n    \n    //\n    // Add Button picture button\n    //\n    \n    //var divPicButton =$('<div />'); //old statement from forum.\n    var divPicButton = document.createElement (\"div\");\n    var btn_Home = document.createElement(\"BUTTON\");\n    btn_Home.setAttribute(\"class\", \"btnHome_class\");\n    \n    var pic = new Image();\n    pic.src = \"/Home1.png\"; // <== add path and filename of picture here\n    pic.height=40;\n    pic.width=40;\n    btn_Home.appendChild(pic);\n    pic.addEventListener(\"click\", doThis.bind(null,home));\n    divPicButton.append(btn_Home);\n        \n    //add to toolbar when it's available\n    var addToToolbarTimer;\n     \n    function addToToolbar() {\n    \n        var toolbar = $('.md-toolbar-tools');\n        if(!toolbar.length) return;\n    \n        toolbar.append(divLogo);\n        toolbar.append(divText);\n        toolbar.append(divClock);\n//        toolbar.append(divPicButton)\n        clearInterval(addToToolbarTimer);\n    }\n    \n    addToToolbarTimer = setInterval(addToToolbar, 1000);\n    \n    function doIT(m){\n        theScope.send( m )\n    }\n\n    function doThis(m){\n        theScope.send( m )\n    }\n\n});\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":380,"y":2220,"wires":[["23add628.c2c02a"]]},{"id":"52af7e86.57804","type":"ui_template","z":"7f51c6b8.4c9d28","group":"567b1b74.384684","name":"[Cagnotte] Format d'affichage","order":1,"width":0,"height":0,"format":"<style>\n    #Boxenergie_Cagnotte_cards {\n        font-size: 30px  !important;\n        color: rgb(210,200,0);\n        background: center / contain no-repeat url(\"http://sunshare.fr/github/SnSr_logoJaune_level_clairC.png\"); /*http://sunshare.fr/github/sunshare_clair_logo_trok.png*/\n        background-size: 100%;\n    }\n   \n       body.nr-dashboard-theme md-content md-card { background-color: rgba(255,255,255,0); }\n       body.nr-dashboard-gauge  { transform: translate(0px, 0px); }\n\n   \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":390,"y":2180,"wires":[[]]},{"id":"cad2be96.07eba","type":"statistics","z":"7f51c6b8.4c9d28","name":"Calcul talon","dataSetSize":0,"inputField":"payload","inputFieldType":"msg","resultField":"payload","resultFieldType":"msg","parameterField":"parameter","parameterFieldType":"msg","stripFunction":true,"resultOnly":true,"x":1290,"y":1360,"wires":[["5d140b74.32d624"]]},{"id":"9647541c.df68a8","type":"statistics","z":"7f51c6b8.4c9d28","name":"Calcul pointe","dataSetSize":0,"inputField":"payload","inputFieldType":"msg","resultField":"payload","resultFieldType":"msg","parameterField":"parameter","parameterFieldType":"msg","stripFunction":true,"resultOnly":true,"x":1290,"y":1400,"wires":[["81695a91.114a78"]]},{"id":"f6c514e8.8c2398","type":"openweathermap","z":"7f51c6b8.4c9d28","name":"Météo temps réel","wtype":"current","lon":"","lat":"","city":"Nantes","country":"FR","language":"fr","x":330,"y":1700,"wires":[["be2985ce.7df1d8","88ac82ae.ee123"]]},{"id":"b7bd1248.9ca47","type":"openweathermap","z":"7f51c6b8.4c9d28","name":"Prévision à 5 jours","wtype":"forecast","lon":"","lat":"","city":"Nantes","country":"FR","language":"fr","x":330,"y":1820,"wires":[["f234581a.83c2f8","565bada8.4577e4"]]},{"id":"157e4ca8.f756e3","type":"inject","z":"7f51c6b8.4c9d28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":2220,"wires":[["52af7e86.57804","d294df29.d107c","84ab8c2b.0d904"]]},{"id":"1517bd70.944e13","type":"inject","z":"7f51c6b8.4c9d28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":130,"y":140,"wires":[["d78c63af.f3985"]]},{"id":"d78c63af.f3985","type":"function","z":"7f51c6b8.4c9d28","name":"Récupération des données","func":"var prod = flow.get(\"SnSrIdxObj\")\n\nvar ret = {};\nret.payload = {\"production_index\": prod.prodidx, \n    \"injection_index\": prod.injectidx,\n    \"withdrawal_index\": prod.soutiridx,\n    \"raspberry_mac\": flow.get(\"UUID\").toString()\n    }\n\nreturn ret;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":140,"wires":[["76e5fd69.859fa4"]]},{"id":"76e5fd69.859fa4","type":"http request","z":"7f51c6b8.4c9d28","name":"Envoi sur le serveur","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://51.77.146.123:9090/api/v1/energy/","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":140,"wires":[[]]},{"id":"c9573ad0.b49238","type":"exec","z":"7f51c6b8.4c9d28","command":"cat /sys/class/net/eth0/address","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"config","x":270,"y":100,"wires":[["73f4b98b.ad1728"],[],[]]},{"id":"7f335d81.845844","type":"inject","z":"7f51c6b8.4c9d28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["c9573ad0.b49238"]]},{"id":"73f4b98b.ad1728","type":"function","z":"7f51c6b8.4c9d28","name":"Adresse mac de la Raspberry","func":"let val = msg.payload.slice(0, msg.payload.length - 1);\nflow.set (\"UUID\", val);\n\nvar ret = {};\nret.payload = {\"MacAddress\": val}\nreturn ret;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":100,"wires":[["89a91c1f.9274b"]]},{"id":"19bb682b.df5948","type":"comment","z":"7f51c6b8.4c9d28","name":"SERVEUR COMMUNAUTAIRE","info":"","x":170,"y":40,"wires":[]},{"id":"747fa63c.ec05c8","type":"function","z":"7f51c6b8.4c9d28","name":"Consommation et Production par Linky","func":"var msg1 = {};\nvar msg2 = {};\n\nvar timeNow = new Date();\nvar SnSrIdxObj = flow.get(\"SnSrIdxObj\"); // /20200127 - RED.util.cloneMessage(flow.get('SnSrIdxObj'));\n\nmsg1.payload = (SnSrIdxObj.prodidx/1000).toFixed(2); //Math.round(SnSrIdxObj.prodidx/100)/10; //arrondi au kWh avec 1 digit // lProdIdx.toString().substring(2)/1000;\nmsg1.topic=\"ProdIdx\";\nmsg1.timenow = timeNow;\n\nmsg2.payload = (SnSrIdxObj.consoIMPidx/1000).toFixed(2); //Math.round(SnSrIdxObj.prodidx/100)/10; //arrondi au kWh avec 1 digit // // consoIMPidx.toString().substring(2)/1000;\nmsg2.topic=\"ConsoIdx\";\nmsg2.timenow = timeNow;\n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":790,"y":780,"wires":[["7abbda5a.a5fc04"],["913ce4eb.4602f8"]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"3447beb3.d244f2","type":"inject","z":"7f51c6b8.4c9d28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"","payloadType":"date","x":550,"y":780,"wires":[["747fa63c.ec05c8"]]},{"id":"5a24ec34.df8464","type":"change","z":"7f51c6b8.4c9d28","name":"Sauvegarde du graphique","rules":[{"t":"set","p":"#:(file)::auto_inject_donut","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1850,"y":1060,"wires":[[]]},{"id":"5ec02d8.18e2dd4","type":"change","z":"7f51c6b8.4c9d28","name":"Sauvegarde du graphique","rules":[{"t":"set","p":"#:(file)::conso_prod_donut","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1990,"y":1100,"wires":[[]]},{"id":"d89ff30e.d5c42","type":"change","z":"7f51c6b8.4c9d28","name":"Sauvegarde du graphique","rules":[{"t":"set","p":"#:(file)::conso_prod_graph","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":1160,"wires":[[]]},{"id":"326ee1df.088e2e","type":"change","z":"7f51c6b8.4c9d28","name":"Sauvegarde du graphique","rules":[{"t":"set","p":"#:(file)::auto_inject_graph","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1670,"y":1200,"wires":[[]]},{"id":"f2aa9e30.c5488","type":"inject","z":"7f51c6b8.4c9d28","name":"En cas de coupure","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"#:(file)::prod_demain_graph","payloadType":"flow","x":850,"y":1760,"wires":[["6b85b623.6f9b28"]]},{"id":"70e1e760.db0fb8","type":"change","z":"7f51c6b8.4c9d28","name":"Sauvegarde du graphique","rules":[{"t":"set","p":"#:(file)::prod_demain_graph","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":1780,"wires":[[]]},{"id":"49de1f97.e071d","type":"inject","z":"7f51c6b8.4c9d28","name":"En cas de coupure","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"#:(file)::auto_inject_donut","payloadType":"flow","x":1350,"y":980,"wires":[["c10e3c4c.58a91"]]},{"id":"36b7261f.dacd9a","type":"inject","z":"7f51c6b8.4c9d28","name":"En cas de coupure","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"#:(file)::conso_prod_donut","payloadType":"flow","x":1330,"y":1020,"wires":[["f150c579.c2aa78"]]},{"id":"e9720b2c.4ca828","type":"inject","z":"7f51c6b8.4c9d28","name":"En cas de coupure","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"#:(file)::conso_prod_graph","payloadType":"flow","x":1010,"y":1120,"wires":[["9d2c0284.15c92"]]},{"id":"dfcd7600.309c58","type":"inject","z":"7f51c6b8.4c9d28","name":"En cas de coupure","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"#:(file)::auto_inject_graph","payloadType":"flow","x":1010,"y":1240,"wires":[["b627a050.b0f38"]]},{"id":"338606c.0ad3efa","type":"ui_text","z":"7f51c6b8.4c9d28","group":"567b1b74.384684","order":2,"width":3,"height":3,"name":"[Cagnotte] Cagnotte","label":"","format":"{{msg.payload}}","layout":"row-center","x":1260,"y":1300,"wires":[]},{"id":"9d2c0284.15c92","type":"ui_chart","z":"7f51c6b8.4c9d28","name":"[Consommation & Production] Puissance (en W/15min)","group":"d4bbed56.cd0ff","order":1,"width":"6","height":5,"label":"Puissance (en W/15min)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":"2","removeOlderPoints":"220","removeOlderUnit":"86400","cutout":"20","useOneColor":false,"useUTC":false,"colors":["#e68200","#00c832","#fcfc44","#1c5e8b","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1320,"y":1160,"wires":[["d89ff30e.d5c42"]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"b627a050.b0f38","type":"ui_chart","z":"7f51c6b8.4c9d28","name":"[Autoconsommation & Surplus] Puissance (en W/15 min)","group":"265db1c0.bae6a6","order":1,"width":"6","height":5,"label":"Puissance (en W/15 min)","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"2000","removeOlder":"2","removeOlderPoints":"220","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00c8c8","#e68200","#00c800","#00c8c8","#e68200","#00c800","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1330,"y":1200,"wires":[["326ee1df.088e2e"]],"icon":"node-red-contrib-serial-modbus/mb.png"},{"id":"41adb52e.fcfb9c","type":"function","z":"7f51c6b8.4c9d28","name":"Changement de jour","func":"var SnSrIdxObj = msg.payload;\n\nvar timeNow =  new Date(SnSrIdxObj.TICstamp);  // déjà  au format Date en ms\nvar membre = flow.get(\"membre\");\nvar hours  = timeNow.getHours();\nvar minutes = timeNow.getMinutes();\nvar thisdate = timeNow.getDate();\nvar thisyear  = timeNow.getFullYear();\n\nvar SnSrPurse = flow.get('SnSrPurse',\"file\");\n\n//Changement de jour, total journalier\n\nif (hours == 23) // mis a jour 4 fois pendant la derniere heure du jour\n    {var SnSrHier = RED.util.cloneMessage(flow.get('SnSrHier',\"file\"));\n     var yesterday = new Date(SnSrHier.yesterday);\n     var exyear = yesterday.getFullYear();\n     var exdate = yesterday.getDate();\n     var soutirj = SnSrHier.soutirhier; \n     var injectj = SnSrHier.injecthier;\n     var autoconsoj = SnSrHier.autoconsohier;\n     var consoj = SnSrHier.consohier;\n     var prodj = SnSrHier.prodhier;\n      \n     if (exdate != thisdate) // seulement au premier passage\n         {  autoconsoj = 0;\n            soutirj = 0; \n            injectj = 0;\n            prodj = 0;\n            SnSrPurse.Tirelire *=  Math.round(SnSrPurse.erosion); //Erosion de la Tirelire\n         }\n        \n     // soutirage, injection, autoconsommation, consommation, production\n     autoconsoj = autoconsoj + (SnSrIdxObj.prodidx - SnSrHier.prodidx) - (SnSrIdxObj.injectidx - SnSrHier.injectidx);\n     soutirj = soutirj + (SnSrIdxObj.soutiridx - SnSrHier.soutiridx);\n     injectj = injectj + (SnSrIdxObj.injectidx -  SnSrHier.injectidx);\n     prodj =  prodj + (SnSrIdxObj.prodidx - SnSrHier.prodidx);\n         \n     //evacuer les valeur abérentes (inititalisation);\n     if (Math.abs(prodj) > membre.Pprod*1000*24) {prodj = null; soutirj = null;injectj = null;consoj = null;}\n     if (Math.abs(soutirj) > membre.Psoutir*1000*24) {prodj = null; soutirj = null;injectj = null;consoj = null;}\n     if (Math.abs(injectj) > membre.Pprod*1000*24) {prodj = null; soutirj = null;injectj = null;consoj = null;}\n     if (Math.abs(consoj) > membre.Psoutir*1000*24){prodj = null; soutirj = null;injectj = null;consoj = null;}\n         \n     SnSrHier.yesterday = timeNow.getTime();\n     SnSrHier.soutirhier = soutirj; //soutir\n     SnSrHier.injecthier = injectj; //inject\n     SnSrHier.autoconsohier = prodj - injectj; //autoconso\n     SnSrHier.consohier = soutirj + prodj - injectj; //conso\n     SnSrHier.prodhier = prodj;  //prod\n     SnSrHier.soutiridx = SnSrIdxObj.soutiridx; //SoutirIdx\n     SnSrHier.injectidx = SnSrIdxObj.injectidx; //InjectIdx\n     SnSrHier.prodidx = SnSrIdxObj.prodidx; //ProdIdx\n      \n     flow.set('SnSrHier', SnSrHier,\"file\");\n      \n     var SnSrCoin = flow.get('SnSrCoin');\n     \n     var SnSrPile = injectj - soutirj || 0 ;\n     SnSrCoin[1] += Math.round(SnSrPile/1000);\n     SnSrPurse.Tirelire += Math.round(SnSrPile/1000); \n     flow.set('SnSrCoin', SnSrCoin);\n     flow.set('SnSrPurse', SnSrPurse,\"file\");\n\n     \n     // changement d'année, remise a 0 à 23:00 le 01 janvier\n     if ((exyear +1) == thisyear) \n        {flow.set('SnSrCoin', [SnSrCoin[1], 0, thisyear]);\n        }\n    }\n\n\nvar msg1 = {\n        \"payload\":  Math.round(SnSrPurse.Tirelire), \n        \"topic\":\"Tirelire\"\n    };\nvar msg2 = {};\n\nreturn [msg, msg1, msg2];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1300,"wires":[[],["338606c.0ad3efa"],[]]},{"id":"eee5bd9f.cb7f9","type":"comment","z":"7f51c6b8.4c9d28","name":"CONSEILS","info":"","x":110,"y":1960,"wires":[]},{"id":"a48914d1.e08bd8","type":"comment","z":"7f51c6b8.4c9d28","name":"AFFICHAGE EN-TETE, CAGNOTTE, A PROPOS","info":"","x":220,"y":2120,"wires":[]},{"id":"89a91c1f.9274b","type":"ui_text","z":"7f51c6b8.4c9d28","group":"a1df11f1.7648f8","order":1,"width":0,"height":0,"name":"[A propos] Adresse mac","label":"Adresse mac de votre Raspberry :","format":"{{msg.payload.MacAddress}}","layout":"col-center","x":730,"y":100,"wires":[]},{"id":"f9903f4d.e4ac6","type":"switch","z":"7f51c6b8.4c9d28","name":"Verification mode Linky","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"historique","vt":"str"},{"t":"eq","v":"standard","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":600,"wires":[["e8ea9251.20b5e"],["40c1eba5.fc9be4","2002ce13.4c71e2"]]},{"id":"6952658.63db29c","type":"ui_toast","z":"7f51c6b8.4c9d28","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Votre Linky est en mode Historique. Ce mode est limité et ne vous permet donc pas d'accéder à l'ensemble des données. Veuillez le passer en mode Standard en contactant votre fournisseur d'énergie. ","name":"[Pop-up] Linky Historique","x":730,"y":420,"wires":[[]]},{"id":"e8ea9251.20b5e","type":"counter","z":"7f51c6b8.4c9d28","name":"Compteur de données reçues","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":210,"y":420,"wires":[["a5fcafe7.92e71","3683a667.2a3bda"]],"inputLabels":["msg.count"]},{"id":"a5fcafe7.92e71","type":"switch","z":"7f51c6b8.4c9d28","name":"1ère donnée reçue","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":400,"wires":[["6952658.63db29c","4b2771e8.09671"]]},{"id":"3683a667.2a3bda","type":"ui_text","z":"7f51c6b8.4c9d28","group":"9cbafe4.3a2c2","order":1,"width":"6","height":"4","name":"[Mode historique] Attention","label":"Attention","format":"Votre Linky est en mode Historique. Ce mode est limité et ne vous permet donc pas d'accéder à l'ensemble des données. Veuillez le passer en mode Standard en contactant votre fournisseur d'énergie.","layout":"col-center","x":480,"y":440,"wires":[]},{"id":"2002ce13.4c71e2","type":"change","z":"7f51c6b8.4c9d28","name":"Cache la partie \"Historique\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Boxenergie_Mode_historique\"],\"show\":[\"Boxenergie_Objectifs\",\"Boxenergie_Cagnotte\",\"Boxenergie_Consommation_&_Production\",\"Boxenergie_Autoconsommation_&_Surplus\",\"Boxenergie_Linky_Live\",\"Boxenergie_Journee_d'hier\",\"Boxenergie_Index\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":660,"wires":[["aa1e1284.7a92a"]]},{"id":"aa1e1284.7a92a","type":"ui_ui_control","z":"7f51c6b8.4c9d28","name":"Changement sur l'UI","events":"connect","x":680,"y":660,"wires":[[]]},{"id":"a5d30535.38eb68","type":"ui_template","z":"7f51c6b8.4c9d28","group":"b9ee9665.1941b","name":"[Météo] Icône météo","order":2,"width":"2","height":2,"format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-3x wi wi-owm-{{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":820,"y":1700,"wires":[[]]},{"id":"1f5810bd.9b503f","type":"comment","z":"7f51c6b8.4c9d28","name":"INDEX LINKY (Standard)","info":"","x":150,"y":520,"wires":[]},{"id":"4b2771e8.09671","type":"change","z":"7f51c6b8.4c9d28","name":"Cache la partie \"Standard\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Boxenergie_Objectifs\",\"Boxenergie_Cagnotte\",\"Boxenergie_Consommation_&_Production\",\"Boxenergie_Autoconsommation_&_Surplus\",\"Boxenergie_Linky_Live\",\"Boxenergie_Journee_d'hier\",\"Boxenergie_Index\"],\"show\":[\"Boxenergie_Mode_historique\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":380,"wires":[["1ee1714b.510fcf"]]},{"id":"1ee1714b.510fcf","type":"ui_ui_control","z":"7f51c6b8.4c9d28","name":"Changement sur l'UI","events":"connect","x":980,"y":380,"wires":[[]]},{"id":"63bafc51.528164","type":"function","z":"7f51c6b8.4c9d28","name":"Conseils","func":"\nvar objConseils = {};\nvar imageConseils = \"\";\nvar themeConseils = \"\";\nvar nbConseils = 39;\nvar int = 0;\n\nif (msg.NEXT) {int = (msg.NEXT + 1);}\n    else { if (msg.PREV) {int = (msg.PREV - 1);}\n    else {int = Math.floor(Math.random()*(nbConseils))+1;} //nb de 0 à nbConseils ;\n    }\n\nif (int > nbConseils) {int = 1;}\nif (int < 0 ) {int = nbConseils;}\n\n\nswitch(int) {\n    \n  case 1:\n    objConseils = {noConseils: 1, nbConseils: 7, noTheme: 1 ,contenuConseils: \"Faites des économies de chauffage en fermant vos volets la nuit et, en période de grand froid, laissez-les fermés le matin avant de partir de chez vous.\"};\n    break;\n  case 2:\n    objConseils = {noConseils: 2, nbConseils: 7, noTheme: 1 ,contenuConseils: \"Réguler et programmer votre chauffage vous permet de consommer jusquà 10 % de moins.\"};\n    break;\n  case 3:\n    objConseils = {noConseils: 3, nbConseils: 7, noTheme: 1 ,contenuConseils: \"Avec un <strong>contrat d'entretien</strong>, vous prolongez la durée de vie de votre <strong>chaudière</strong>. C'est aussi jusqu'à 5 fois moins de pannes et 12 % de combustible économisé.\"};\n    break;\n  case 4:\n    objConseils = {noConseils: 4, nbConseils: 7, noTheme: 1 ,contenuConseils: \"Pour une meilleure efficacité de vos <strong>radiateurs</strong>, ne les couvrez pas : ils diffuseront mieux la chaleur.\"};\n    break;\n  case 5:\n    objConseils = {noConseils: 5, nbConseils: 7, noTheme: 1 ,contenuConseils: \"16 ou 17 °C suffit pour bien dormir. <strong>Baisser la température</strong> la nuit est sain et économique.\"};                \n    break;\n  case 6:\n    objConseils = {noConseils: 6, nbConseils: 7, noTheme: 1 ,contenuConseils: \"En immeuble ou en maison, l'<strong>isolation </strong>est la meilleure solution pour consommer moins d'énergie pour le chauffage.\"};\n    break;\n  case 7:\n    objConseils = {noConseils: 7, nbConseils: 7, noTheme: 1 ,contenuConseils: \"Vous pensez à <strong>remplacer vos fenêtres</strong> ? Seulement 10 à 15 % de la chaleur s'échappe par les fenêtres. D'autres<strong> travaux d'isolation</strong> sont peut-être également utiles à réaliser pour un logement plus confortable.\"};\n    break;\n  case 8:\n    objConseils = {noConseils: 8, nbConseils: 6, noTheme: 2 ,contenuConseils: \"Mettre un couvercle sur une casserole pour faire bouillir de l'eau, c'est 4 fois moins d'énergie consommée !\"};\n    break;\n  case 9:\n    objConseils = {noConseils: 9, nbConseils: 6, noTheme: 2 ,contenuConseils: \"Décongelez les aliments dans le réfrigérateur. Vous éviterez ainsi d'utiliser le four à micro-ondes et vous préserverez la qualité des produits.\"};\n    break;\n  case 10:\n    objConseils = {noConseils: 10, nbConseils: 6, noTheme: 2 ,contenuConseils: \"Nettoyez la grille à l'arrière de votre réfrigérateur, dégivrez-le régulièrement, attendez que les plats aient refroidi avant de les y ranger et vous diminuerez la consommation électrique de votre appareil.\"};\n    break;\n  case 11:\n    objConseils = {noConseils: 11, nbConseils: 6, noTheme: 2 ,contenuConseils: \"Préférez un four à air pulsé. Un petit ventilateur y répartit l'air chaud. Cela réduit le temps de cuisson et donc la consommation d'énergie.\"};\n    break;\n  case 12:\n    objConseils = {noConseils: 12, nbConseils: 6, noTheme: 2 ,contenuConseils: \"Profitez d'une fin de cuisson pour lancer le nettoyage de votre four par pyrolyse. C'est un système très gourmand en énergie.\"};\n    break;\n  case 13:\n    objConseils = {noConseils: 13, nbConseils: 6, noTheme: 2 ,contenuConseils: \"Au moins une fois par an, pensez à dégivrer vos appareils de froid : dès 3 millimètres de givre leur consommation peut augmenter de 30 %.\"};\n    break;\n  case 14:\n    objConseils = {noConseils: 14, nbConseils: 6, noTheme: 3 ,contenuConseils: \"Une ampoule bien dépoussiérée offre 40 % d'éclairage supplémentaire.\"};\n    break;\n  case 15:\n    objConseils = {noConseils: 15, nbConseils: 6, noTheme: 3 ,contenuConseils: \"Evitez les LED &laquo; de décoration &raquo;. Les LED contiennent des matériaux rares et consomment de l'électricité. Si elles n'ont pas d'utilité pour l'éclairage, mieux vaut les éviter.\"};\n    break;\n  case 16:\n    objConseils = {noConseils: 16, nbConseils: 6, noTheme: 3 ,contenuConseils: \"Avant de partir en vacances, essayez de vider votre congélateur pour pouvoir le dégivrer. Vous ne le remettrez en fonctionnement qu'à votre retour.\"};\n    break;\n  case 17:\n    objConseils = {noConseils: 17, nbConseils: 6, noTheme: 3 ,contenuConseils: \"Une prise programmable peut vous permettre de couper certains usages automatiquement la nuit ou pendant vos absences quotidiennes. Pensez-y !\"};\n    break;\n  case 18:\n    objConseils = {noConseils: 18, nbConseils: 6, noTheme: 3 ,contenuConseils: \"Placez bureaux, plans de travail, canapés, fauteuils près des fenêtres. Vous aurez ainsi moins besoin d'éclairage artificiel pour lire ou travailler.\"};\n    break;\n  case 19:\n    objConseils = {noConseils: 19, nbConseils: 6, noTheme: 3 ,contenuConseils: \"Pendant vos vacances, inutile de chauffer l'eau sanitaire ou de laisser vos appareils en veille. Coupez l'électricité à tous les appareils inutiles en votre absence.\"};\n    break;\ncase 20:\n    objConseils = {noConseils: 20, nbConseils: 6, noTheme:4 ,contenuConseils: \"Les veilles des téléviseurs, chaînes Hi-fi, décodeurs, magnétoscopes, ordinateurs... consomment sans rien produire. Déconnectez ces appareils quand ils ne sont pas en service\"};\n    break;\n  case 21:\n    objConseils = {noConseils: 21, nbConseils: 6, noTheme:4, contenuConseils: \"Pour choisir votre ordinateur, fiez-vous au logo ★ Energy Star ★ qui indique que votre matériel est économe en énergie quand il fonctionne et quand il est en veille. Pensez quand même à le débrancher après usage.\"};\n    break;\n  case 22:\n    objConseils = {noConseils: 22, nbConseils: 6, noTheme:4, contenuConseils: \"En branchant les équipements électriques sur une multiprise à interrupteur, il est facile de couper toutes les veilles en même temps.\"};\n    break;\n  case 23:\n    objConseils = {noConseils: 23, nbConseils: 6, noTheme:4, contenuConseils: \"Après avoir rechargé un appareil (téléphone, ordinateur portable, console de jeux...) pensez à le débrancher, car le chargeur consomme en permanence.\"};\n    break;\n  case 24:\n    objConseils = {noConseils: 24, nbConseils: 6, noTheme:4, contenuConseils: \"L'impact environnemental des mails augmente avec le poids des documents en pièce jointe. Pensez à comprimer les fichiers lourds et à supprimer les pièces jointes inutiles.\"};\n    break;\n  case 25:\n    objConseils = {noConseils: 25, nbConseils: 6, noTheme:4, contenuConseils: \"Savez-vous que l'étiquette énergie est apposée sur toutes les TV depuis fin 2011 ? Elle classe leurs performances énergétiques de A (les plus performantes) à G (les moins performantes).\"};\n    break;\n  case 26:\n    objConseils = {noConseils: 26, nbConseils: 7, noTheme: 5 ,contenuConseils: \"Sur les lave-vaisselle et les lave-linge, la touche éco permet d'économiser de l'eau et jusqu'à 25 % d'électricité.\"};\n    break;\n  case 27:\n    objConseils = {noConseils: 27, nbConseils: 7, noTheme: 5 ,contenuConseils: \"Réduisez votre consommation d'électricité en achetant des appareils performants signalés par A sur l'étiquette énergie.\"};\n    break;\n  case 28:\n    objConseils = {noConseils: 28, nbConseils: 7, noTheme: 5 ,contenuConseils: \"Remplissez bien votre lave-linge. Un programme \\\"pleine charge\\\" est moins consommateur en électricité que deux lavages \\\"demi charge\\\".\"};\n    break;\n  case 29:\n    objConseils = {noConseils: 29, nbConseils: 7, noTheme: 5 ,contenuConseils: \"Le sèche-linge est un appareil gourmand en énergie. Dès que cela est possible, étendez votre linge à l'air libre : il sèchera sans consommer d'électricité.\"};\n    break;\n  case 30:\n    objConseils = {noConseils: 30, nbConseils: 7, noTheme: 5 ,contenuConseils: \"Si vous réglez votre lave-linge à 40°C, vous consommez 25 % d'énergie en moins qu'en cycle court à 60 °C.\"};\n    break;\n  case 31:\n    objConseils = {noConseils: 31, nbConseils: 7, noTheme: 5 ,contenuConseils: \"Attendez d'avoir suffisamment de linge sale pour pouvoir remplir une machine avant de faire un lavage. En multipliant les cycles de lavage, vous augmentez votre consommation d'électricité et d'eau.\"};\n    break;\n  case 32:\n    objConseils = {noConseils: 32, nbConseils: 7, noTheme: 5 ,contenuConseils: \"Si vous utilisez un sèche-linge, choisissez l'essorage maximal de votre machine à laver. Cette méthode vous permet de moins consommer d'électricité car votre sèche-linge fonctionne moins longtemps.\"};\n    break;\n  case 33:\n    objConseils = {noConseils: 33, nbConseils: 7, noTheme: 6 ,contenuConseils: \"Même radiateurs éteints, votre chaudière laissée en mode \\\"hiver\\\" continue à chauffer l'eau du circuit. Pour satisfaire uniquement vos besoins en eau chaude, pensez à la régler en mode \\\"été\\\".\"};\n    break;\n  case 34:\n    objConseils = {noConseils: 34, nbConseils: 7, noTheme: 6 ,contenuConseils: \"Isolez les tuyaux d'eau chaude qui passent dans les pièces non chauffées. Vous perdrez ainsi moins de chaleur et vous réduirez votre facture.\"};\n    break;\n  case 35:\n    objConseils = {noConseils: 35, nbConseils: 7, noTheme: 6 ,contenuConseils: \"Plus votre douche est rapide, moins vous consommez d'eau et d'énergie. Pensez à arrêter le robinet quand vous vous savonnez.\"};\n    break;\n  case 36:\n    objConseils = {noConseils: 36, nbConseils: 7, noTheme: 6 ,contenuConseils: \"Réglez la température de votre ballon d'eau chaude entre 55 et 60 °C pour l'eau chaude sanitaire, c'est assez pour limiter le développement de bactéries pathogènes, mais pas trop, pour éviter l'entartrage du chauffe-eau.\"};\n    break;\n  case 37:\n    objConseils = {noConseils: 37, nbConseils: 7, noTheme: 6 ,contenuConseils: \"Si vous vous absentez de chez vous plusieurs jours, pensez à arrêter le ballon d'eau chaude avant de partir. Vous ferez des économies !\"};\n    break;\n  case 38:\n    objConseils = {noConseils: 38, nbConseils: 7, noTheme: 6 ,contenuConseils: \"Lorsque vous faites la vaisselle à la main, ne laissez pas couler l'eau chaude en continu pour laver et rincer : remplissez les bacs de votre évier.\"};\n    break;\n  case 39:\n    objConseils = {noConseils: 39, nbConseils: 7, noTheme: 6 ,contenuConseils: \"Un robinet mitigeur économise 10 % d'eau par rapport à un robinet classique. Avec un robinet thermostatique, c'est jusqu'à 30% d'économies.\"};\n    break;\ndefault:\nobjConseils = {noConseils: 0, nbConseils: 0, noTheme:9, contenuConseils: \"Erreur Switch Case\"};\n} \n\nswitch(objConseils.noTheme) {\n  case 1:\n    themeConseils = \"Chauffage\";\n    break;\n  case 2:\n    themeConseils = \"Cuisine\";\n    break;\n  case 3:\n    themeConseils = \"Eco-gestes\";\n    break;\n  case 4:\n    themeConseils = \"Multimédia\";\n    break;\n  case 5:\n    themeConseils = \"Lavage\";\n    break;\n  case 6:\n    themeConseils = \"Eau chaude\";\n    break;\ndefault:\n    themeConseils = \"ErreurTheme\";\n\n} \n\n\nvar msg1 = {};\nmsg1.nbConseils = objConseils.nbConseils;\nmsg1.contenuConseils = objConseils.contenuConseils;\n                            \nmsg1.themeConseils = themeConseils;\nmsg1.debug = int;\n\nreturn msg1;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":2020,"wires":[["1e1d8482.1351db"]]},{"id":"2801b644.dadc02","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"7","parity":"even","stopbits":"1","waitfor":"","newline":"0x3","bin":"false","out":"char","addchar":"false","responsetimeout":"10000"},{"id":"baa849fc.7e0f78","type":"ui_group","name":"Journee d'hier","tab":"dc8d6bd6.a909f8","order":8,"disp":true,"width":"6","collapse":false},{"id":"432cb2e6.dd78fc","type":"ui_group","name":"Index","tab":"dc8d6bd6.a909f8","order":9,"disp":true,"width":"6","collapse":false},{"id":"b9ee9665.1941b","type":"ui_group","name":"Météo du jour à :","tab":"dc8d6bd6.a909f8","order":2,"disp":true,"width":"5","collapse":false},{"id":"6bc8951f.8f5abc","type":"ui_group","name":"Objectifs","tab":"dc8d6bd6.a909f8","order":5,"disp":true,"width":"6","collapse":false},{"id":"b7a72834.b7abc8","type":"ui_group","name":"Linky Live","tab":"dc8d6bd6.a909f8","order":6,"disp":true,"width":"3","collapse":false},{"id":"ce072d05.42146","type":"ui_group","name":"Conso & Prod","tab":"d10b51a3.e06e68","order":1,"disp":true,"width":"6","collapse":false},{"id":"a1df11f1.7648f8","type":"ui_group","name":"A propos :","tab":"dc8d6bd6.a909f8","order":11,"disp":true,"width":"5","collapse":false},{"id":"dc58a71a.3a1d9","type":"ui_group","name":"Conseils","tab":"dc8d6bd6.a909f8","order":7,"disp":true,"width":"6","collapse":false},{"id":"567b1b74.384684","type":"ui_group","name":"Cagnotte","tab":"dc8d6bd6.a909f8","order":1,"disp":true,"width":"3","collapse":false},{"id":"d4bbed56.cd0ff","type":"ui_group","name":"Consommation & Production","tab":"dc8d6bd6.a909f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"265db1c0.bae6a6","type":"ui_group","name":"Autoconsommation & Surplus","tab":"dc8d6bd6.a909f8","order":4,"disp":true,"width":"6","collapse":false},{"id":"9cbafe4.3a2c2","type":"ui_group","name":"Mode historique","tab":"dc8d6bd6.a909f8","order":10,"disp":true,"width":"6","collapse":false},{"id":"dc8d6bd6.a909f8","type":"ui_tab","name":"Boxenergie","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d10b51a3.e06e68","type":"ui_tab","name":"BONUS","icon":"dashboard","order":3,"disabled":false,"hidden":false}]